{
  "openapi": "3.0.3",
  "info": {
    "title": "Repull API",
    "version": "1.0.0",
    "description": "The unified API for vacation rental tech. Connect to 50+ PMS platforms and 4 OTA channels through one REST API. Built-in AI operations for guest communication, pricing, and listing optimization.\n\n## Designed for AI agents\nEvery error response on this API includes machine-parseable fields so an LLM (Claude in MCP, Cursor, Cline, GPT, etc.) can self-recover without escalating to a human:\n- `error.code` — stable string identifier (e.g. `invalid_params`, `rate_limit_exceeded`)\n- `error.message` — human-readable cause\n- `error.fix` — exact recovery steps (e.g. \"Pass `check_in_after` as ISO 8601: `?check_in_after=2026-01-15`\")\n- `error.docs_url` — link to the canonical write-up at `https://repull.dev/docs/errors/{code}`\n- `error.request_id` — id to correlate with server-side logs\n- `error.field` / `error.value_received` / `error.valid_values` / `error.did_you_mean` — when the error is parameter-specific\n- `error.retry_after` — seconds to wait before retrying (rate-limit + transient upstream)\n\n`Access-Control-Expose-Headers` lists `x-request-id` and the `X-RateLimit-*` family so browsers can read them on cross-origin responses.\n\n## Quick Start\n1. Get an API key at https://repull.dev/dashboard\n2. Connect a PMS: `POST /v1/connect/{provider}`\n3. List properties: `GET /v1/properties`\n4. Get reservations: `GET /v1/reservations`\n\n## Authentication\nAll requests require a Bearer token:\n```\nAuthorization: Bearer sk_test_YOUR_API_KEY\n```\n\nSandbox keys start with `sk_test_`, production with `sk_live_`.\n\n## Request Correlation (X-Request-ID)\nEvery response carries an `X-Request-ID` header, e.g. `X-Request-ID: req_01HXY...`. Include this id in support tickets and bug reports — we can trace the full request lifecycle (auth, rate limit, handler, downstream calls, log row) from a single id.\n\nYou may set the header on the inbound request to forward your own trace id; we will echo it back instead of generating a new one. Accepted format: `^[\\\\w.-]{1,128}$`.\n\nThe id is also embedded in error envelopes as `request_id` so server-side log diffs work even when the response headers are stripped by an intermediate proxy.\n\n## Rate Limits\nThe public API enforces a per-API-key sliding-window rate limit on top of the per-tier monthly + daily-AI quotas.\n\n**Default policy:** 600 requests per 60 seconds, per API key. Sliding window — there is no fixed-minute boundary you can burst across.\n\nEvery response includes:\n\n| Header | Meaning |\n|---|---|\n| `X-RateLimit-Limit` | Requests permitted in the current window. |\n| `X-RateLimit-Remaining` | Requests left in the current window after this call. |\n| `X-RateLimit-Reset` | Unix epoch (seconds) when the next slot opens. |\n| `X-RateLimit-Policy` | Machine-readable policy descriptor, e.g. `600;w=60`. |\n| `Retry-After` | Seconds to wait before retrying. **Only present on 429 responses.** |\n\n**On 429 (rate_limit_exceeded):** the response body matches the standard error envelope with `code: \"rate_limit_exceeded\"`, plus `limit`, `window_seconds`, `retry_after`, and `request_id` fields. SDKs MUST honor `Retry-After` and use exponential backoff with jitter on subsequent retries — never a tight loop.\n\nRecommended backoff:\n```\nsleep_ms = (Retry-After * 1000) + random(0..250)\n```\n\nMonthly + daily-AI tier quotas (`free`, `starter`, `custom`) are enforced separately and also surface as 429s; they include `tier`, `scope`, and `resets_at` fields.",
    "contact": {
      "email": "ivan@vanio.ai",
      "url": "https://repull.dev"
    },
    "license": {
      "name": "Proprietary"
    },
    "x-logo": {
      "url": "https://repull.dev/logo.svg"
    },
    "x-llm-friendly": true,
    "x-error-envelope": {
      "description": "Every 4xx/5xx response on this API uses the same error envelope. See `#/components/schemas/Error` for the schema and `#/components/responses/*` for canonical examples per status code.",
      "required_fields": [
        "code",
        "message",
        "fix",
        "docs_url",
        "request_id"
      ],
      "optional_fields": [
        "field",
        "value_received",
        "valid_values",
        "did_you_mean",
        "retry_after",
        "support"
      ],
      "docs_root": "https://repull.dev/docs/errors"
    }
  },
  "servers": [
    {
      "url": "https://api.repull.dev",
      "description": "Production"
    },
    {
      "url": "http://repull.localhost:3000/api/repull",
      "description": "Local development"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Properties",
      "description": "List and manage vacation rental properties across all connected PMS platforms"
    },
    {
      "name": "Listings",
      "description": "Create native Repull listings, generate AI content, and publish to multiple channels (Airbnb + Booking.com) from one API."
    },
    {
      "name": "Reservations",
      "description": "Query, create, update, and cancel reservations"
    },
    {
      "name": "Availability",
      "description": "Check and update property availability and pricing"
    },
    {
      "name": "Guests",
      "description": "Guest profiles and contact information"
    },
    {
      "name": "Conversations",
      "description": "Guest messaging across platforms"
    },
    {
      "name": "Reviews",
      "description": "Guest reviews and responses"
    },
    {
      "name": "Connect",
      "description": "Manage PMS/OTA connections. Supports 50+ platforms."
    },
    {
      "name": "Webhooks",
      "description": "Subscribe to real-time events (reservation changes, messages, etc.)"
    },
    {
      "name": "Airbnb",
      "description": "Direct Airbnb channel management — listings, pricing, availability, messaging, reviews"
    },
    {
      "name": "Booking.com",
      "description": "Direct Booking.com channel management — properties, rates, content, messaging"
    },
    {
      "name": "VRBO",
      "description": "VRBO channel management — listings and reservations"
    },
    {
      "name": "Plumguide",
      "description": "Plumguide channel management — availability, pricing, bookings"
    },
    {
      "name": "AI",
      "description": "AI-powered operations — guest responses, intent classification, listing generation, pricing suggestions"
    },
    {
      "name": "Pricing",
      "description": "Atlas-powered pricing recommendations and per-listing strategy. Recommendations are pre-computed by the Atlas pricing model from comp data, demand signals, and event calendars; this surface lets you read them, apply or decline them, and tune the strategy that constrains the model."
    },
    {
      "name": "Markets",
      "description": "Atlas market intelligence — per-city KPIs, comp distributions, calendar-level demand, and events. Sourced from Atlas (Vanio's 660-worker market-intelligence fleet) merged with the customer's own listing data."
    },
    {
      "name": "Atlas",
      "description": "Per-listing Atlas intelligence — comp set with daily nightly pricing, and Atlas DNA segment intelligence (quality tiers, design styles, ADR uplift recommendations). Sourced from Atlas's comp database + DNA scoring pipeline."
    },
    {
      "name": "Billing",
      "description": "Plan info, usage, and checkout"
    },
    {
      "name": "System",
      "description": "Health checks and API status"
    },
    {
      "name": "schema",
      "description": "Custom field-mapping schemas to reshape response payloads to your app's data model. Built-in schemas (`native`, `calry`, `calry-v1`) ship out of the box; create custom schemas with `POST /v1/schema/custom` and select one per request via the `X-Schema` header."
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key — `sk_test_*` for sandbox, `sk_live_*` for production",
        "bearerFormat": "API Key"
      }
    },
    "schemas": {
      "Property": {
        "type": "object",
        "description": "A vacation rental property from a connected PMS",
        "properties": {
          "id": {
            "type": "string",
            "description": "Internal Repull property ID"
          },
          "externalId": {
            "type": "string",
            "description": "ID in the source PMS"
          },
          "name": {
            "type": "string",
            "description": "Property name",
            "example": "Oceanview Suite #3"
          },
          "address": {
            "type": "string",
            "description": "Full address"
          },
          "city": {
            "type": "string",
            "example": "Miami Beach"
          },
          "state": {
            "type": "string",
            "example": "FL"
          },
          "country": {
            "type": "string",
            "example": "US"
          },
          "latitude": {
            "type": "number",
            "example": 25.7617
          },
          "longitude": {
            "type": "number",
            "example": -80.1918
          },
          "bedrooms": {
            "type": "integer",
            "example": 2
          },
          "bathrooms": {
            "type": "number",
            "example": 1.5
          },
          "maxGuests": {
            "type": "integer",
            "example": 6
          },
          "thumbnail": {
            "type": "string",
            "format": "uri",
            "description": "Primary photo URL"
          },
          "provider": {
            "type": "string",
            "description": "Source PMS",
            "example": "hostaway"
          }
        }
      },
      "Reservation": {
        "type": "object",
        "description": "A booking/reservation from a connected PMS. Identical shape between list-row (`GET /v1/reservations`) and detail (`GET /v1/reservations/{id}`) — SDK consumers can use the same type for both.",
        "properties": {
          "id": {
            "type": "string",
            "description": "Internal Repull reservation ID"
          },
          "listingId": {
            "type": "string",
            "description": "Internal Repull listing ID this reservation is on."
          },
          "guestId": {
            "type": "string",
            "description": "Internal Repull guest ID. Use `GET /v1/guests/{id}` for the full profile."
          },
          "checkIn": {
            "type": "string",
            "format": "date",
            "example": "2026-04-15"
          },
          "checkOut": {
            "type": "string",
            "format": "date",
            "example": "2026-04-20"
          },
          "status": {
            "type": "string",
            "enum": [
              "confirmed",
              "pending",
              "cancelled",
              "completed"
            ],
            "example": "confirmed"
          },
          "platform": {
            "type": "string",
            "nullable": true,
            "description": "Booking source. Lowercase. May be null on legacy rows.",
            "enum": [
              "airbnb",
              "booking.com",
              "vrbo",
              "direct",
              "website",
              "owner",
              "other",
              null
            ],
            "example": "airbnb"
          },
          "totalPrice": {
            "type": "string",
            "description": "Decimal-as-string (precision 10, scale 2) to preserve precision across mixed-currency totals.",
            "example": "1250.00"
          },
          "currency": {
            "type": "string",
            "description": "ISO 4217 currency code.",
            "example": "USD"
          },
          "confirmationCode": {
            "type": "string",
            "description": "Channel-side confirmation code (Airbnb HMxxx, Booking.com numeric, etc.).",
            "example": "HMXYZ123"
          },
          "guestDetails": {
            "type": "object",
            "description": "Raw guest details from the source channel (firstName, lastName, email, phone, count, etc.). Shape varies by platform — use the dedicated guest endpoint for a normalized profile.",
            "additionalProperties": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "When the reservation row was created in Repull (not the booking-on-channel timestamp)."
          },
          "guestName": {
            "type": "string",
            "nullable": true,
            "description": "Pre-resolved display name (`firstName lastName`) extracted from `guestDetails`. Null when no first name is available."
          }
        },
        "required": [
          "id",
          "listingId",
          "guestId",
          "checkIn",
          "checkOut",
          "status",
          "totalPrice",
          "currency",
          "confirmationCode",
          "guestDetails",
          "createdAt"
        ]
      },
      "Guest": {
        "type": "object",
        "description": "Guest list-row shape returned by `GET /v1/guests`. Pre-resolved primary phone/email + display name + cumulative stay aggregates so list UIs can render without a per-row round-trip.",
        "properties": {
          "id": {
            "type": "string"
          },
          "displayName": {
            "type": "string",
            "example": "Jane",
            "description": "Short display name (first name)."
          },
          "displayNameLong": {
            "type": "string",
            "example": "Jane Doe",
            "description": "Long display name (first + last). Falls back to displayName when last name is missing."
          },
          "avatarUrl": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "language": {
            "type": "string",
            "nullable": true,
            "description": "Guest's preferred language (ISO 639-1)."
          },
          "country": {
            "type": "string",
            "nullable": true,
            "description": "Guest country (from profile metadata or address)."
          },
          "phone": {
            "type": "string",
            "nullable": true,
            "description": "Primary phone contact (or first non-primary if no primary set)."
          },
          "email": {
            "type": "string",
            "format": "email",
            "nullable": true,
            "description": "Primary email contact."
          },
          "totalReservations": {
            "type": "integer",
            "description": "Lifetime reservation count."
          },
          "totalRevenue": {
            "type": "string",
            "description": "Decimal-as-string to preserve precision across mixed-currency totals.",
            "example": "14250.00"
          },
          "lastStayedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "firstStayedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "GuestContact": {
        "type": "object",
        "description": "One contact channel attached to a guest profile (phone, email, etc.).",
        "properties": {
          "type": {
            "type": "string",
            "example": "phone",
            "description": "Contact channel type (`phone`, `email`, etc.)."
          },
          "value": {
            "type": "string",
            "example": "+15551234567"
          },
          "verified": {
            "type": "boolean"
          },
          "isPrimary": {
            "type": "boolean"
          },
          "lastUsed": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "GuestFlag": {
        "type": "object",
        "description": "A risk/operational flag attached to a guest profile (e.g. blacklist, do-not-host, VIP). Severity comes from main vanio's flag taxonomy.",
        "properties": {
          "type": {
            "type": "string",
            "description": "Severity / category (e.g. `info`, `warning`, `block`)."
          },
          "note": {
            "type": "string",
            "nullable": true,
            "description": "Reason text when present."
          },
          "isActive": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "GuestNote": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "body": {
            "type": "string",
            "nullable": true
          },
          "category": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "createdBy": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "GuestReservationsSummary": {
        "type": "object",
        "description": "Aggregate counts of reservations attached to the guest. `future` is derived from `total - past - cancelled`.",
        "properties": {
          "total": {
            "type": "integer"
          },
          "future": {
            "type": "integer"
          },
          "past": {
            "type": "integer"
          },
          "cancelled": {
            "type": "integer"
          }
        }
      },
      "GuestProfile": {
        "type": "object",
        "description": "Full guest profile returned by `GET /v1/guests/{id}`. Aggregates the base list-row fields plus contacts, flags, notes, risk metadata, and a reservations-summary rollup.",
        "properties": {
          "id": {
            "type": "string"
          },
          "displayName": {
            "type": "string"
          },
          "displayNameLong": {
            "type": "string"
          },
          "avatarUrl": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "language": {
            "type": "string",
            "nullable": true
          },
          "country": {
            "type": "string",
            "nullable": true
          },
          "phone": {
            "type": "string",
            "nullable": true
          },
          "email": {
            "type": "string",
            "format": "email",
            "nullable": true
          },
          "totalReservations": {
            "type": "integer"
          },
          "totalRevenue": {
            "type": "string",
            "description": "Decimal as string."
          },
          "currency": {
            "type": "string",
            "nullable": true
          },
          "isBlacklisted": {
            "type": "boolean"
          },
          "blacklistedReason": {
            "type": "string",
            "nullable": true
          },
          "riskLevel": {
            "type": "string",
            "nullable": true,
            "description": "Main-vanio risk score (e.g. `low`, `medium`, `high`)."
          },
          "verificationLevel": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "contacts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GuestContact"
            }
          },
          "flags": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GuestFlag"
            }
          },
          "notes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GuestNote"
            }
          },
          "reservationsSummary": {
            "$ref": "#/components/schemas/GuestReservationsSummary"
          }
        }
      },
      "CalendarDay": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "format": "date",
            "example": "2026-04-15"
          },
          "available": {
            "type": "boolean"
          },
          "price": {
            "type": "number",
            "example": 250
          },
          "minNights": {
            "type": "integer",
            "example": 2
          }
        }
      },
      "Conversation": {
        "type": "object",
        "description": "Channel-agnostic message thread between the host workspace and a guest. Returned by `GET /v1/conversations`. The `id` is the internal Repull thread id (integer) — pass it back as the `{id}` path param on detail / messages calls.",
        "properties": {
          "id": {
            "type": "string"
          },
          "platform": {
            "type": "string",
            "nullable": true,
            "enum": [
              "airbnb",
              "booking",
              "vrbo",
              "website",
              "email"
            ],
            "example": "airbnb"
          },
          "guestId": {
            "type": "string",
            "nullable": true
          },
          "listingId": {
            "type": "string",
            "nullable": true
          },
          "reservationId": {
            "type": "string",
            "nullable": true
          },
          "subject": {
            "type": "string",
            "nullable": true,
            "description": "Thread subject (email/website channels) or null when not applicable."
          },
          "lastMessageAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "lastMessagePreview": {
            "type": "string",
            "nullable": true,
            "description": "Short preview of the most recent message body for list-UI rendering."
          },
          "unreadCount": {
            "type": "integer"
          },
          "status": {
            "type": "string",
            "enum": [
              "open",
              "archived"
            ],
            "description": "`archived` is reserved for a future bit on `message_threads` — currently always `open`."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ConversationHost": {
        "type": "object",
        "description": "Linked host metadata for a conversation thread. Currently populated for Airbnb threads (resolved through `airbnb_hosts`); null for other channels until per-channel host enrichment lands.",
        "properties": {
          "id": {
            "type": "string"
          },
          "airbnbId": {
            "type": "string",
            "description": "Airbnb-side host id."
          },
          "firstName": {
            "type": "string"
          },
          "displayName": {
            "type": "string"
          },
          "avatarUrl": {
            "type": "string",
            "format": "uri",
            "nullable": true
          }
        }
      },
      "ConversationGuestContact": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "example": "phone"
          },
          "value": {
            "type": "string"
          },
          "isPrimary": {
            "type": "boolean"
          },
          "isVerified": {
            "type": "boolean"
          }
        }
      },
      "ConversationGuest": {
        "type": "object",
        "description": "Linked guest metadata for a conversation thread. Resolved through the thread's `reservation_id` → `reservations.guest_id`. Up to 50 contacts are returned.",
        "properties": {
          "id": {
            "type": "string"
          },
          "displayName": {
            "type": "string"
          },
          "avatarUrl": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "contacts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ConversationGuestContact"
            }
          }
        }
      },
      "ConversationDetail": {
        "type": "object",
        "description": "Returned by `GET /v1/conversations/{id}`. Extends the list-row `Conversation` shape with expanded `host` + `guest` blocks so SDK consumers can render thread headers without an extra round-trip.",
        "allOf": [
          {
            "$ref": "#/components/schemas/Conversation"
          },
          {
            "type": "object",
            "properties": {
              "host": {
                "nullable": true,
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ConversationHost"
                  }
                ]
              },
              "guest": {
                "nullable": true,
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ConversationGuest"
                  }
                ]
              }
            }
          }
        ]
      },
      "ConversationMessageAttachment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "imageUrl": {
            "type": "string",
            "format": "uri"
          },
          "contentType": {
            "type": "string",
            "example": "image/jpeg"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Message": {
        "type": "object",
        "description": "A single message inside a conversation thread. Returned by `GET /v1/conversations/{id}/messages`. `direction` is normalized to `inbound` (from the guest) / `outbound` (from the host or an automation).",
        "properties": {
          "id": {
            "type": "string"
          },
          "externalMessageId": {
            "type": "string",
            "nullable": true,
            "description": "ID assigned by the source channel (Airbnb message id, Booking message id, etc.). Stable across syncs."
          },
          "direction": {
            "type": "string",
            "enum": [
              "inbound",
              "outbound"
            ]
          },
          "senderType": {
            "type": "string",
            "nullable": true,
            "description": "Free-form sender role from the channel (e.g. `guest`, `host`, `system`, `airbnb`). Use `direction` for binary inbound/outbound logic."
          },
          "senderName": {
            "type": "string"
          },
          "senderAvatar": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "channel": {
            "type": "string",
            "nullable": true,
            "description": "Delivery channel — `airbnb`, `booking`, `sms`, `email`, etc."
          },
          "body": {
            "type": "string",
            "description": "Message body in the original language."
          },
          "translatedBody": {
            "type": "string",
            "nullable": true,
            "description": "English translation when the original language is non-English and a translation has been computed."
          },
          "attachments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ConversationMessageAttachment"
            }
          },
          "isAutomated": {
            "type": "boolean",
            "description": "`true` when the message was sent by a Vanio automation (template, schedule, etc.)."
          },
          "aiGenerated": {
            "type": "boolean",
            "description": "`true` when the body was authored by Vanio AI (autopilot, draft)."
          },
          "sentAt": {
            "type": "string",
            "format": "date-time"
          },
          "deliveredAt": {
            "type": "string",
            "format": "date-time"
          },
          "readAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "ReviewCategory": {
        "type": "object",
        "description": "One scored sub-category of a multi-axis review (cleanliness, communication, accuracy, etc.). Categories vary by platform.",
        "properties": {
          "category": {
            "type": "string",
            "example": "cleanliness"
          },
          "rating": {
            "type": "number",
            "nullable": true,
            "description": "Per-category rating on the platform's scale (typically 1..5)."
          },
          "comment": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "ReviewResponse": {
        "type": "object",
        "description": "Host response to a review, when present.",
        "properties": {
          "body": {
            "type": "string"
          },
          "submittedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "Review": {
        "type": "object",
        "description": "A guest or host review unified across channels. Returned by `GET /v1/reviews` and `GET /v1/reviews/{id}`. Populated from main vanio's unified `reviews` table after the per-channel backfill cron has run.",
        "properties": {
          "id": {
            "type": "string",
            "description": "Internal Repull review id — pass back to `/v1/reviews/{id}`."
          },
          "externalId": {
            "type": "string",
            "description": "ID in the source channel (Airbnb review id, Booking review id, etc.)."
          },
          "platform": {
            "type": "string",
            "nullable": true,
            "enum": [
              "airbnb",
              "booking",
              "vrbo"
            ]
          },
          "listingId": {
            "type": "string",
            "nullable": true,
            "description": "Internal Repull listing id the review is attached to."
          },
          "reservationId": {
            "type": "string",
            "nullable": true
          },
          "reservationConfirmationCode": {
            "type": "string",
            "nullable": true,
            "description": "Channel-side confirmation code for the reservation being reviewed."
          },
          "guestId": {
            "type": "string",
            "nullable": true
          },
          "guestName": {
            "type": "string",
            "nullable": true
          },
          "guestAvatar": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "reviewerRole": {
            "type": "string",
            "enum": [
              "guest",
              "host"
            ],
            "description": "Who wrote the review — `guest` (about the host/property) or `host` (about the guest)."
          },
          "rating": {
            "type": "number",
            "nullable": true,
            "description": "Overall rating on the platform's scale (typically 1..5). May be `null` for review types that lack a numeric overall score."
          },
          "categories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ReviewCategory"
            }
          },
          "publicReview": {
            "type": "string",
            "nullable": true,
            "description": "Public-facing review text shown on the listing page."
          },
          "privateFeedback": {
            "type": "string",
            "nullable": true,
            "description": "Private feedback the reviewer sent only to the host."
          },
          "isRevieweeRecommended": {
            "type": "boolean",
            "nullable": true,
            "description": "Did the reviewer recommend the reviewee? Used for guest-side reviews."
          },
          "response": {
            "nullable": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/ReviewResponse"
              }
            ]
          },
          "submittedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "When the review window closes (Airbnb has a 14-day window after checkout)."
          },
          "hidden": {
            "type": "boolean"
          },
          "language": {
            "type": "string",
            "nullable": true,
            "description": "Detected language (ISO 639-1) of the review body."
          }
        }
      },
      "Connection": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "provider": {
            "type": "string",
            "example": "hostaway"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "inactive",
              "error"
            ],
            "example": "active"
          },
          "externalAccountId": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "host": {
            "nullable": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/ConnectHost"
              }
            ],
            "description": "Host metadata for the linked account. Currently populated for Airbnb only; null for other providers."
          }
        }
      },
      "ConnectHost": {
        "type": "object",
        "description": "Public-facing metadata about the host whose account is linked. Lets clients render an account-level card (avatar + name) instead of just an opaque ID. Email is intentionally NOT exposed for Airbnb — the partner API doesn't return host email.",
        "properties": {
          "displayName": {
            "type": "string",
            "nullable": true,
            "example": "Lidia",
            "description": "Short display name (Airbnb first name)."
          },
          "displayNameLong": {
            "type": "string",
            "nullable": true,
            "example": "Lidia",
            "description": "Preferred long-form name. Falls back to displayName when the host hasn't set a preferred form."
          },
          "avatarUrl": {
            "type": "string",
            "nullable": true,
            "format": "uri",
            "description": "Profile picture URL (small)."
          },
          "avatarUrlLarge": {
            "type": "string",
            "nullable": true,
            "format": "uri",
            "description": "Profile picture URL (large)."
          },
          "activationStatus": {
            "type": "string",
            "nullable": true,
            "example": "active",
            "description": "Per-provider activation/onboarding status."
          }
        }
      },
      "ConnectProvider": {
        "type": "object",
        "description": "A channel the multi-channel Connect picker can show. Returned by `GET /v1/connect/providers` and consumed by SDKs that render their own picker UI.",
        "properties": {
          "id": {
            "type": "string",
            "example": "airbnb",
            "description": "Stable identifier passed back to /select-provider and used in /v1/connect/{provider} routes."
          },
          "displayName": {
            "type": "string",
            "example": "Airbnb"
          },
          "category": {
            "type": "string",
            "enum": [
              "ota",
              "pms"
            ],
            "description": "Channel category — OTAs are listing marketplaces; PMSes are property management systems."
          },
          "connectPattern": {
            "type": "string",
            "enum": [
              "oauth",
              "credentials",
              "activation",
              "claim"
            ],
            "description": "How the host is connected. `oauth`: provider-side consent screen. `credentials`: hosted form collects API keys. `activation`: push-only handshake (Vrbo). `claim`: connectivity-provider designation in the channel's Extranet (Booking.com)."
          },
          "status": {
            "type": "string",
            "enum": [
              "live",
              "beta",
              "coming-soon"
            ],
            "description": "Pickers should hide / disable `coming-soon` cards. `beta` cards are clickable but show a Beta pill."
          },
          "logoUrl": {
            "type": "string",
            "format": "uri",
            "description": "Logo URL — Clearbit stand-in until self-hosted SVGs land."
          },
          "description": {
            "type": "string",
            "example": "OAuth consent — host approves access in one click."
          },
          "docsUrl": {
            "type": "string",
            "format": "uri",
            "example": "https://repull.dev/docs/channels/airbnb"
          },
          "aliases": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true,
            "example": [
              "airbnb",
              "abnb"
            ],
            "description": "Optional friendly aliases the picker's search box can match."
          }
        },
        "required": [
          "id",
          "displayName",
          "category",
          "connectPattern",
          "status",
          "logoUrl",
          "description",
          "docsUrl"
        ]
      },
      "ConnectProviderListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ConnectProvider"
            }
          }
        }
      },
      "ConnectSession": {
        "type": "object",
        "description": "A multi-channel Connect picker session. The `url` is the hosted picker page on connect.repull.dev — redirect the host to it, they pick a channel, and the picker takes them through the per-provider flow before redirecting back to the original `redirectUrl`.",
        "properties": {
          "sessionId": {
            "type": "string",
            "example": "cs_8gQrT2v9k3M4nLp7wJxYzAbCdEfGhIjKlMnOp"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "example": "https://connect.repull.dev/cs_8gQrT2v9k3M4nLp7wJxYzAbCdEfGhIjKlMnOp"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          },
          "state": {
            "type": "string",
            "nullable": true,
            "description": "Echoed back from the request body for SDK consumers that pass an opaque correlation token."
          }
        },
        "required": [
          "sessionId",
          "url",
          "expiresAt"
        ]
      },
      "SelectProviderResponse": {
        "type": "object",
        "description": "Returned by `POST /v1/connect/sessions/{sessionId}/select-provider`. The picker UI navigates the user to `nextUrl` to begin the per-provider handoff.",
        "properties": {
          "sessionId": {
            "type": "string"
          },
          "provider": {
            "type": "string",
            "example": "airbnb"
          },
          "pattern": {
            "type": "string",
            "enum": [
              "oauth",
              "credentials",
              "activation",
              "claim"
            ]
          },
          "nextUrl": {
            "type": "string",
            "format": "uri",
            "description": "Where to send the user next — OAuth consent, credentials form, activation checklist, or claim form."
          }
        }
      },
      "ConnectStatus": {
        "type": "object",
        "description": "Connection status response for a single provider. When `connected` is false, all other fields except `provider` and `host` may be omitted, and `host` is null.",
        "properties": {
          "connected": {
            "type": "boolean",
            "example": true
          },
          "provider": {
            "type": "string",
            "example": "airbnb"
          },
          "id": {
            "type": "string",
            "description": "Repull-side connection ID. Stable across token refreshes.",
            "example": "3"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "inactive",
              "error"
            ],
            "example": "active"
          },
          "externalAccountId": {
            "type": "string",
            "nullable": true,
            "description": "Provider-side account ID (e.g. the Airbnb host ID).",
            "example": "23998907"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "host": {
            "nullable": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/ConnectHost"
              }
            ],
            "description": "Host metadata, populated for Airbnb when the host row exists. Null for other providers (per-provider enrichment is incremental)."
          }
        }
      },
      "WebhookSubscription": {
        "type": "object",
        "description": "A registered webhook endpoint. The `secret` field is only present in the response of `POST /v1/webhooks` and `POST /v1/webhooks/{id}/rotate-secret` (Stripe pattern — capture it then; it is masked everywhere else).",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WebhookEventType"
            },
            "example": [
              "reservation.created",
              "reservation.updated"
            ]
          },
          "apiVersion": {
            "type": "string",
            "example": "2026-04"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "paused",
              "disabled"
            ]
          },
          "consecutiveFailures": {
            "type": "integer"
          },
          "lastDeliveredAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "lastSuccessAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "lastFailureAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "lastDeliveryStatus": {
            "type": "integer",
            "nullable": true
          },
          "disabledAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "secretMasked": {
            "type": "string",
            "nullable": true,
            "example": "whsec_a1b…f9c2"
          },
          "secret": {
            "type": "string",
            "nullable": true,
            "description": "Plaintext signing secret. Only returned by create + rotate. Capture and store securely."
          }
        }
      },
      "WebhookDelivery": {
        "type": "object",
        "description": "A single delivery attempt for a webhook event. The actual `WebhookEvent` envelope POSTed to the subscription URL is captured on `WebhookDeliveryDetail.payload` (this list view omits the body for size).",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "eventId": {
            "type": "string",
            "format": "uuid",
            "description": "Stable across retries of the same logical event."
          },
          "eventType": {
            "$ref": "#/components/schemas/WebhookEventType"
          },
          "statusCode": {
            "type": "integer",
            "nullable": true
          },
          "responseTimeMs": {
            "type": "integer",
            "nullable": true
          },
          "attempt": {
            "type": "integer"
          },
          "success": {
            "type": "boolean"
          },
          "errorMessage": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "succeededAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "failedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "WebhookDeliveryDetail": {
        "type": "object",
        "description": "Full request + response capture for one delivery attempt. `payload` is the exact `WebhookEvent` envelope that was (or would have been) POSTed to the subscription URL.",
        "properties": {
          "id": {
            "type": "string"
          },
          "eventId": {
            "type": "string"
          },
          "eventType": {
            "$ref": "#/components/schemas/WebhookEventType"
          },
          "payload": {
            "$ref": "#/components/schemas/WebhookEvent"
          },
          "requestHeaders": {
            "type": "object",
            "nullable": true
          },
          "statusCode": {
            "type": "integer",
            "nullable": true
          },
          "responseHeaders": {
            "type": "object",
            "nullable": true
          },
          "responseBody": {
            "type": "string",
            "nullable": true
          },
          "responseTimeMs": {
            "type": "integer",
            "nullable": true
          },
          "attempt": {
            "type": "integer"
          },
          "success": {
            "type": "boolean"
          },
          "errorMessage": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "WebhookDeliveryListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WebhookDelivery"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          }
        }
      },
      "WebhookEventCatalog": {
        "type": "object",
        "description": "Canonical catalog of every event the API can deliver, grouped by domain. Each entry includes a realistic `samplePayload` matching the discriminated `WebhookEvent` union — so SDKs can render docs and dashboards from this single source of truth.",
        "properties": {
          "domains": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "title": {
                  "type": "string"
                },
                "events": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WebhookEventCatalogEntry"
                  }
                }
              }
            }
          },
          "flat": {
            "type": "array",
            "description": "All events in a flat list (same entries as `domains[].events`, ungrouped).",
            "items": {
              "$ref": "#/components/schemas/WebhookEventCatalogEntry"
            }
          }
        }
      },
      "WebhookEventCatalogEntry": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/WebhookEventType"
          },
          "domain": {
            "type": "string",
            "enum": [
              "reservations",
              "listings",
              "calendar",
              "connections",
              "ai",
              "payments",
              "system"
            ]
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "samplePayload": {
            "type": "object",
            "description": "Realistic example of the `data` payload an event of this `type` will deliver. Shape matches the matching variant in the `WebhookEvent` discriminated union."
          }
        }
      },
      "WebhookEventType": {
        "type": "string",
        "description": "Canonical event type identifier. Every webhook delivery declares one of these in its `type` field; SDKs key the discriminated `WebhookEvent` union on this value.",
        "enum": [
          "reservation.created",
          "reservation.updated",
          "reservation.cancelled",
          "reservation.message.received",
          "listing.created",
          "listing.updated",
          "listing.deleted",
          "calendar.updated",
          "connection.created",
          "connection.disconnected",
          "ai.operation.completed",
          "ai.operation.failed",
          "payment.completed",
          "payment.refunded",
          "repull.ping"
        ]
      },
      "ReservationCreatedPayload": {
        "type": "object",
        "description": "Payload for `reservation.created`. A new reservation arrived from any connected channel or direct booking.",
        "properties": {
          "id": {
            "type": "integer",
            "example": 215906
          },
          "confirmationCode": {
            "type": "string",
            "example": "HMA1234567"
          },
          "listingId": {
            "type": "integer",
            "example": 6250
          },
          "platform": {
            "type": "string",
            "example": "airbnb"
          },
          "status": {
            "type": "string",
            "example": "confirmed"
          },
          "checkIn": {
            "type": "string",
            "format": "date",
            "example": "2026-06-01"
          },
          "checkOut": {
            "type": "string",
            "format": "date",
            "example": "2026-06-05"
          },
          "nights": {
            "type": "integer",
            "example": 4
          },
          "guests": {
            "type": "object",
            "properties": {
              "adults": {
                "type": "integer",
                "example": 2
              },
              "children": {
                "type": "integer",
                "example": 0
              },
              "infants": {
                "type": "integer",
                "example": 0
              }
            }
          },
          "primaryGuest": {
            "type": "object",
            "properties": {
              "firstName": {
                "type": "string",
                "example": "Alex"
              },
              "lastName": {
                "type": "string",
                "example": "Morgan"
              },
              "email": {
                "type": "string",
                "format": "email",
                "example": "alex@example.com"
              }
            }
          },
          "pricing": {
            "type": "object",
            "properties": {
              "subtotal": {
                "type": "string",
                "example": "1200.00"
              },
              "taxes": {
                "type": "string",
                "example": "120.00"
              },
              "total": {
                "type": "string",
                "example": "1320.00"
              },
              "currency": {
                "type": "string",
                "example": "USD"
              }
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-05-01T12:34:56.000Z"
          }
        }
      },
      "ReservationUpdatedPayload": {
        "type": "object",
        "description": "Payload for `reservation.updated`. Dates, guest count, status, or pricing changed on an existing reservation. The `changes` map carries `{ from, to }` deltas for each field that moved.",
        "properties": {
          "id": {
            "type": "integer",
            "example": 215906
          },
          "confirmationCode": {
            "type": "string",
            "example": "HMA1234567"
          },
          "changes": {
            "type": "object",
            "additionalProperties": true,
            "description": "Map of `field` → `{ from, to }` pairs describing what changed.",
            "example": {
              "checkOut": {
                "from": "2026-06-05",
                "to": "2026-06-07"
              },
              "pricing": {
                "from": {
                  "total": "1320.00"
                },
                "to": {
                  "total": "1640.00"
                }
              }
            }
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-05-01T13:00:00.000Z"
          }
        }
      },
      "ReservationCancelledPayload": {
        "type": "object",
        "description": "Payload for `reservation.cancelled`. A reservation was cancelled by the guest, host, or platform.",
        "properties": {
          "id": {
            "type": "integer",
            "example": 215906
          },
          "confirmationCode": {
            "type": "string",
            "example": "HMA1234567"
          },
          "cancelledAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-05-01T14:00:00.000Z"
          },
          "cancelledBy": {
            "type": "string",
            "example": "guest",
            "description": "Who initiated the cancellation (guest, host, platform)."
          },
          "reason": {
            "type": "string",
            "nullable": true,
            "example": "guest_requested"
          },
          "refund": {
            "type": "object",
            "nullable": true,
            "properties": {
              "amount": {
                "type": "string",
                "example": "1320.00"
              },
              "currency": {
                "type": "string",
                "example": "USD"
              }
            }
          }
        }
      },
      "ReservationMessageReceivedPayload": {
        "type": "object",
        "description": "Payload for `reservation.message.received`. A new inbound message arrived on a reservation thread.",
        "properties": {
          "reservationId": {
            "type": "integer",
            "example": 215906
          },
          "threadId": {
            "type": "string",
            "example": "thr_01HX5XPQ2K"
          },
          "from": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "example": "guest",
                "description": "Message author (guest, host, system)."
              },
              "name": {
                "type": "string",
                "example": "Alex Morgan"
              }
            }
          },
          "body": {
            "type": "string",
            "example": "Hi! What time can we check in?"
          },
          "sentAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-05-01T15:00:00.000Z"
          }
        }
      },
      "ListingCreatedPayload": {
        "type": "object",
        "description": "Payload for `listing.created`. A new property was synced into Repull from a connected PMS or channel.",
        "properties": {
          "id": {
            "type": "integer",
            "example": 6250
          },
          "title": {
            "type": "string",
            "example": "R-Sable 1302 — Radium Hot Springs"
          },
          "address": {
            "type": "object",
            "properties": {
              "city": {
                "type": "string",
                "example": "Radium Hot Springs"
              },
              "region": {
                "type": "string",
                "example": "BC"
              },
              "country": {
                "type": "string",
                "example": "CA"
              }
            }
          },
          "bedrooms": {
            "type": "integer",
            "example": 2
          },
          "bathrooms": {
            "type": "number",
            "example": 2
          },
          "maxGuests": {
            "type": "integer",
            "example": 6
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-05-01T12:00:00.000Z"
          }
        }
      },
      "ListingUpdatedPayload": {
        "type": "object",
        "description": "Payload for `listing.updated`. Listing content, amenities, photos, or status changed.",
        "properties": {
          "id": {
            "type": "integer",
            "example": 6250
          },
          "changes": {
            "type": "object",
            "additionalProperties": true,
            "description": "Map of `field` → `{ from, to }` pairs describing what changed.",
            "example": {
              "title": {
                "from": "R-Sable 1302",
                "to": "R-Sable 1302 — Radium Hot Springs"
              }
            }
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-05-01T12:30:00.000Z"
          }
        }
      },
      "ListingDeletedPayload": {
        "type": "object",
        "description": "Payload for `listing.deleted`. A property was removed from Repull or the upstream PMS.",
        "properties": {
          "id": {
            "type": "integer",
            "example": 6250
          },
          "deletedAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-05-01T16:00:00.000Z"
          },
          "reason": {
            "type": "string",
            "nullable": true,
            "example": "deactivated_by_owner"
          }
        }
      },
      "CalendarUpdatedPayload": {
        "type": "object",
        "description": "Payload for `calendar.updated`. Availability or pricing for a listing was updated.",
        "properties": {
          "listingId": {
            "type": "integer",
            "example": 6250
          },
          "range": {
            "type": "object",
            "properties": {
              "start": {
                "type": "string",
                "format": "date",
                "example": "2026-06-01"
              },
              "end": {
                "type": "string",
                "format": "date",
                "example": "2026-06-15"
              }
            }
          },
          "affectedDates": {
            "type": "integer",
            "example": 14
          },
          "pricingChanged": {
            "type": "boolean",
            "example": true
          },
          "availabilityChanged": {
            "type": "boolean",
            "example": false
          }
        }
      },
      "ConnectionCreatedPayload": {
        "type": "object",
        "description": "Payload for `connection.created`. An OAuth or API credential connection was completed by an end user.",
        "properties": {
          "workspaceId": {
            "type": "string",
            "format": "uuid",
            "example": "47f8883d-28c2-4d2c-b020-c7cef1aff62c"
          },
          "accountId": {
            "type": "string",
            "example": "acc_01HX5XPQ2K"
          },
          "provider": {
            "type": "string",
            "example": "airbnb",
            "description": "PMS or channel provider id (e.g. airbnb, booking, hostaway)."
          },
          "accessType": {
            "type": "string",
            "example": "full_access"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-05-01T12:00:00.000Z"
          }
        }
      },
      "ConnectionDisconnectedPayload": {
        "type": "object",
        "description": "Payload for `connection.disconnected`. A PMS or channel connection was revoked or expired.",
        "properties": {
          "workspaceId": {
            "type": "string",
            "format": "uuid",
            "example": "47f8883d-28c2-4d2c-b020-c7cef1aff62c"
          },
          "accountId": {
            "type": "string",
            "example": "acc_01HX5XPQ2K"
          },
          "connectionId": {
            "type": "string",
            "nullable": true,
            "description": "Stable connection identifier — alias of accountId for this event variant."
          },
          "provider": {
            "type": "string",
            "example": "airbnb"
          },
          "disconnectedAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-05-01T17:00:00.000Z"
          },
          "reason": {
            "type": "string",
            "nullable": true,
            "example": "revoked_by_user"
          }
        }
      },
      "AiOperationCompletedPayload": {
        "type": "object",
        "description": "Payload for `ai.operation.completed`. An async AI run (review response, message draft, pricing suggestion) finished.",
        "properties": {
          "operationId": {
            "type": "string",
            "example": "aiop_01HX5XPQ2K"
          },
          "type": {
            "type": "string",
            "example": "respond-to-guest",
            "description": "AI operation kind — e.g. respond-to-guest, price-suggestion, review-response."
          },
          "inputSummary": {
            "type": "string",
            "example": "Guest asked about parking"
          },
          "output": {
            "type": "object",
            "additionalProperties": true,
            "description": "Operation-specific output object.",
            "example": {
              "message": "Free underground parking is included with your stay."
            }
          },
          "tokensUsed": {
            "type": "integer",
            "example": 184
          },
          "completedAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-05-01T18:00:00.000Z"
          }
        }
      },
      "AiOperationFailedPayload": {
        "type": "object",
        "description": "Payload for `ai.operation.failed`. An async AI run terminated with an error and will not be retried.",
        "properties": {
          "operationId": {
            "type": "string",
            "example": "aiop_01HX5XPQ2L"
          },
          "type": {
            "type": "string",
            "example": "price-suggestion"
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "example": "no_market_data"
              },
              "message": {
                "type": "string",
                "example": "Insufficient comparable listings."
              }
            }
          },
          "failedAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-05-01T18:01:00.000Z"
          }
        }
      },
      "PaymentCompletedPayload": {
        "type": "object",
        "description": "Payload for `payment.completed`. A guest payment was successfully captured.",
        "properties": {
          "id": {
            "type": "string",
            "example": "pay_01HX5XPQ2K"
          },
          "reservationId": {
            "type": "integer",
            "example": 215906
          },
          "amount": {
            "type": "string",
            "example": "1320.00"
          },
          "currency": {
            "type": "string",
            "example": "USD"
          },
          "method": {
            "type": "string",
            "example": "card"
          },
          "capturedAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-05-01T12:35:00.000Z"
          }
        }
      },
      "PaymentRefundedPayload": {
        "type": "object",
        "description": "Payload for `payment.refunded`. A previous payment was refunded in part or in full.",
        "properties": {
          "id": {
            "type": "string",
            "example": "pay_01HX5XPQ2K"
          },
          "refundId": {
            "type": "string",
            "example": "rfn_01HX5XPQ2K"
          },
          "reservationId": {
            "type": "integer",
            "example": 215906
          },
          "amount": {
            "type": "string",
            "example": "1320.00"
          },
          "currency": {
            "type": "string",
            "example": "USD"
          },
          "refundedAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-05-01T19:00:00.000Z"
          }
        }
      },
      "RepullPingPayload": {
        "type": "object",
        "description": "Payload for `repull.ping`. A diagnostic delivery used by the dashboard to verify endpoint reachability.",
        "properties": {
          "message": {
            "type": "string",
            "example": "Ping from Repull. If you can read this, your endpoint is reachable."
          }
        }
      },
      "ReservationCreatedEvent": {
        "type": "object",
        "required": [
          "type",
          "data"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Stable event id — same across delivery retries of the same logical event."
          },
          "type": {
            "type": "string",
            "enum": [
              "reservation.created"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "apiVersion": {
            "type": "string",
            "example": "2026-04"
          },
          "data": {
            "$ref": "#/components/schemas/ReservationCreatedPayload"
          }
        }
      },
      "ReservationUpdatedEvent": {
        "type": "object",
        "required": [
          "type",
          "data"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "type": "string",
            "enum": [
              "reservation.updated"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "apiVersion": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/ReservationUpdatedPayload"
          }
        }
      },
      "ReservationCancelledEvent": {
        "type": "object",
        "required": [
          "type",
          "data"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "type": "string",
            "enum": [
              "reservation.cancelled"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "apiVersion": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/ReservationCancelledPayload"
          }
        }
      },
      "ReservationMessageReceivedEvent": {
        "type": "object",
        "required": [
          "type",
          "data"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "type": "string",
            "enum": [
              "reservation.message.received"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "apiVersion": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/ReservationMessageReceivedPayload"
          }
        }
      },
      "ListingCreatedEvent": {
        "type": "object",
        "required": [
          "type",
          "data"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "type": "string",
            "enum": [
              "listing.created"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "apiVersion": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/ListingCreatedPayload"
          }
        }
      },
      "ListingUpdatedEvent": {
        "type": "object",
        "required": [
          "type",
          "data"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "type": "string",
            "enum": [
              "listing.updated"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "apiVersion": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/ListingUpdatedPayload"
          }
        }
      },
      "ListingDeletedEvent": {
        "type": "object",
        "required": [
          "type",
          "data"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "type": "string",
            "enum": [
              "listing.deleted"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "apiVersion": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/ListingDeletedPayload"
          }
        }
      },
      "CalendarUpdatedEvent": {
        "type": "object",
        "required": [
          "type",
          "data"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "type": "string",
            "enum": [
              "calendar.updated"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "apiVersion": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/CalendarUpdatedPayload"
          }
        }
      },
      "ConnectionCreatedEvent": {
        "type": "object",
        "required": [
          "type",
          "data"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "type": "string",
            "enum": [
              "connection.created"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "apiVersion": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/ConnectionCreatedPayload"
          }
        }
      },
      "ConnectionDisconnectedEvent": {
        "type": "object",
        "required": [
          "type",
          "data"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "type": "string",
            "enum": [
              "connection.disconnected"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "apiVersion": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/ConnectionDisconnectedPayload"
          }
        }
      },
      "AiOperationCompletedEvent": {
        "type": "object",
        "required": [
          "type",
          "data"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "type": "string",
            "enum": [
              "ai.operation.completed"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "apiVersion": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/AiOperationCompletedPayload"
          }
        }
      },
      "AiOperationFailedEvent": {
        "type": "object",
        "required": [
          "type",
          "data"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "type": "string",
            "enum": [
              "ai.operation.failed"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "apiVersion": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/AiOperationFailedPayload"
          }
        }
      },
      "PaymentCompletedEvent": {
        "type": "object",
        "required": [
          "type",
          "data"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "type": "string",
            "enum": [
              "payment.completed"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "apiVersion": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/PaymentCompletedPayload"
          }
        }
      },
      "PaymentRefundedEvent": {
        "type": "object",
        "required": [
          "type",
          "data"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "type": "string",
            "enum": [
              "payment.refunded"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "apiVersion": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/PaymentRefundedPayload"
          }
        }
      },
      "RepullPingEvent": {
        "type": "object",
        "required": [
          "type",
          "data"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "type": "string",
            "enum": [
              "repull.ping"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "apiVersion": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/RepullPingPayload"
          }
        }
      },
      "WebhookEvent": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/ReservationCreatedEvent"
          },
          {
            "$ref": "#/components/schemas/ReservationUpdatedEvent"
          },
          {
            "$ref": "#/components/schemas/ReservationCancelledEvent"
          },
          {
            "$ref": "#/components/schemas/ReservationMessageReceivedEvent"
          },
          {
            "$ref": "#/components/schemas/ListingCreatedEvent"
          },
          {
            "$ref": "#/components/schemas/ListingUpdatedEvent"
          },
          {
            "$ref": "#/components/schemas/ListingDeletedEvent"
          },
          {
            "$ref": "#/components/schemas/CalendarUpdatedEvent"
          },
          {
            "$ref": "#/components/schemas/ConnectionCreatedEvent"
          },
          {
            "$ref": "#/components/schemas/ConnectionDisconnectedEvent"
          },
          {
            "$ref": "#/components/schemas/AiOperationCompletedEvent"
          },
          {
            "$ref": "#/components/schemas/AiOperationFailedEvent"
          },
          {
            "$ref": "#/components/schemas/PaymentCompletedEvent"
          },
          {
            "$ref": "#/components/schemas/PaymentRefundedEvent"
          },
          {
            "$ref": "#/components/schemas/RepullPingEvent"
          }
        ],
        "discriminator": {
          "propertyName": "type",
          "mapping": {
            "reservation.created": "#/components/schemas/ReservationCreatedEvent",
            "reservation.updated": "#/components/schemas/ReservationUpdatedEvent",
            "reservation.cancelled": "#/components/schemas/ReservationCancelledEvent",
            "reservation.message.received": "#/components/schemas/ReservationMessageReceivedEvent",
            "listing.created": "#/components/schemas/ListingCreatedEvent",
            "listing.updated": "#/components/schemas/ListingUpdatedEvent",
            "listing.deleted": "#/components/schemas/ListingDeletedEvent",
            "calendar.updated": "#/components/schemas/CalendarUpdatedEvent",
            "connection.created": "#/components/schemas/ConnectionCreatedEvent",
            "connection.disconnected": "#/components/schemas/ConnectionDisconnectedEvent",
            "ai.operation.completed": "#/components/schemas/AiOperationCompletedEvent",
            "ai.operation.failed": "#/components/schemas/AiOperationFailedEvent",
            "payment.completed": "#/components/schemas/PaymentCompletedEvent",
            "payment.refunded": "#/components/schemas/PaymentRefundedEvent",
            "repull.ping": "#/components/schemas/RepullPingEvent"
          }
        },
        "description": "The full event envelope POSTed to your webhook URL. Discriminated on `type` — narrow `event.data` by switching on `event.type`. Use the matching `*Event` variant directly if your SDK lacks discriminator support."
      },
      "AirbnbListing": {
        "type": "object",
        "description": "A Vanio listing paired with its Airbnb connection rows. The list endpoint groups every `listings_airbnb` row that points at the same Vanio `listingId` under a single `connections[]` array.",
        "properties": {
          "listingId": {
            "type": "integer",
            "description": "Vanio (Repull) listing id",
            "example": 6248
          },
          "name": {
            "type": "string",
            "description": "Listing title",
            "example": "Oceanview Villa"
          },
          "city": {
            "type": "string",
            "nullable": true,
            "example": "Malibu"
          },
          "connections": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AirbnbConnection"
            }
          }
        }
      },
      "AirbnbConnection": {
        "type": "object",
        "description": "An Airbnb-side connection record for a Vanio listing. The same property may appear under multiple connections if it has been linked from multiple Airbnb host accounts.",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Connection row id"
          },
          "airbnbId": {
            "type": "string",
            "description": "Airbnb-side listing id",
            "example": "1116939745194659457"
          },
          "hostId": {
            "type": "string",
            "description": "Airbnb host user id"
          },
          "active": {
            "type": "boolean"
          },
          "syncEnabled": {
            "type": "boolean"
          },
          "primary": {
            "type": "boolean"
          },
          "markup": {
            "type": "string",
            "nullable": true,
            "description": "Decimal markup (e.g. \"1.10\" for +10%)."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "amenities": {
            "type": "array",
            "nullable": true,
            "description": "Present only when `?include=amenities` is passed. Sourced from `GET /v2/listings/:id/amenities` on Airbnb.",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "is_present": {
                  "type": "boolean"
                },
                "name": {
                  "type": "string",
                  "nullable": true
                },
                "category": {
                  "type": "string",
                  "nullable": true
                },
                "icon": {
                  "type": "string",
                  "nullable": true
                }
              }
            }
          },
          "accessibility_amenities": {
            "type": "array",
            "nullable": true,
            "description": "Present only when `?include=amenities` is passed.",
            "items": {
              "type": "object"
            }
          },
          "_errors": {
            "type": "object",
            "nullable": true,
            "description": "Per-expansion failures. Present only when an `?include=` upstream call failed for this connection (others may still succeed).",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "status": {
                  "type": "integer",
                  "nullable": true
                }
              }
            }
          }
        }
      },
      "BookingProperty": {
        "type": "object",
        "description": "A property registered in the Booking.com extranet for the connected hotel ID.",
        "properties": {
          "id": {
            "type": "string",
            "description": "Booking.com hotel/property ID"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "nullable": true
          },
          "country": {
            "type": "string",
            "nullable": true
          },
          "city": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "VrboListing": {
        "type": "object",
        "description": "A VRBO listing.",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "PlumguideListing": {
        "type": "object",
        "description": "A Plumguide listing.",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "AirbnbReservation": {
        "type": "object",
        "description": "An Airbnb reservation as returned by the channel API. Use `confirmationCode` to address it in Airbnb operations.",
        "properties": {
          "confirmationCode": {
            "type": "string",
            "example": "HMABC12345"
          },
          "listingId": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "accepted",
              "pending",
              "cancelled",
              "denied",
              "inquiry"
            ],
            "example": "accepted"
          },
          "checkIn": {
            "type": "string",
            "format": "date"
          },
          "checkOut": {
            "type": "string",
            "format": "date"
          },
          "guestName": {
            "type": "string",
            "nullable": true
          },
          "guestCount": {
            "type": "integer",
            "nullable": true
          },
          "totalPrice": {
            "type": "number",
            "nullable": true
          },
          "currency": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "VrboReservation": {
        "type": "object",
        "description": "A VRBO reservation.",
        "properties": {
          "id": {
            "type": "string"
          },
          "listingId": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "nullable": true
          },
          "checkIn": {
            "type": "string",
            "format": "date"
          },
          "checkOut": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "AirbnbThread": {
        "type": "object",
        "description": "An Airbnb message thread.",
        "properties": {
          "id": {
            "type": "string"
          },
          "listingId": {
            "type": "string",
            "nullable": true
          },
          "guestName": {
            "type": "string",
            "nullable": true
          },
          "lastMessageAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "unreadCount": {
            "type": "integer",
            "nullable": true
          }
        }
      },
      "AirbnbReview": {
        "type": "object",
        "description": "An Airbnb review (guest → host or host → guest).",
        "properties": {
          "id": {
            "type": "string"
          },
          "reservationCode": {
            "type": "string",
            "nullable": true
          },
          "rating": {
            "type": "integer",
            "nullable": true,
            "minimum": 1,
            "maximum": 5
          },
          "comment": {
            "type": "string",
            "nullable": true
          },
          "response": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "BookingConversation": {
        "type": "object",
        "description": "A Booking.com guest conversation.",
        "properties": {
          "id": {
            "type": "string"
          },
          "reservationId": {
            "type": "string",
            "nullable": true
          },
          "guestName": {
            "type": "string",
            "nullable": true
          },
          "lastMessageAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "AIOperation": {
        "type": "object",
        "properties": {
          "operation": {
            "type": "string",
            "enum": [
              "respond-to-guest",
              "classify-intent",
              "generate-listing",
              "review-response",
              "price-suggestion"
            ],
            "description": "AI operation to perform"
          },
          "input": {
            "type": "object",
            "description": "Operation-specific input data"
          }
        }
      },
      "CustomSchemaMappings": {
        "type": "object",
        "description": "Field-mapping table. Keys are the output field names emitted in the response payload; values are simple expressions referenced against the source `native` payload (dot paths, basic arithmetic, string concatenation). Min 1 entry, max 50 entries. Each key must be <= 100 chars; each expression must be <= 500 chars and pass the safety check (no `eval`, no `function`, no `process`, etc.).",
        "additionalProperties": {
          "type": "string"
        },
        "minProperties": 1,
        "maxProperties": 50,
        "example": {
          "listing_id": "propertyId",
          "arrival": "checkIn",
          "departure": "checkOut",
          "guest_name": "primaryGuest.firstName + ' ' + primaryGuest.lastName",
          "nightly_rate": "financials.breakdown.basePrice / nights"
        }
      },
      "CustomSchema": {
        "type": "object",
        "description": "A custom field-mapping schema owned by the workspace. Reshapes the `native` response into the workspace's preferred field names. Apply one per request via the `X-Schema: <name>` header on any read endpoint.",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Stable workspace-scoped identifier."
          },
          "name": {
            "type": "string",
            "example": "my-app-schema",
            "description": "3-100 lowercase chars, hyphens allowed (`^[a-z0-9][a-z0-9-]{1,98}[a-z0-9]$`). Must be unique within the workspace. Cannot collide with reserved names (`calry`, `calry-v1`, `native`)."
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "mappings": {
            "$ref": "#/components/schemas/CustomSchemaMappings"
          },
          "active": {
            "type": "boolean",
            "description": "When `false`, requests carrying this schema name in `X-Schema` fall back to `native`."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "name",
          "mappings",
          "active",
          "createdAt"
        ]
      },
      "CustomSchemaSummary": {
        "type": "object",
        "description": "List-row shape returned by `GET /v1/schema/custom`. Same fields as `CustomSchema` minus heavy nested data — kept identical today; reserved as a separate schema so the list shape can shrink without breaking the detail call.",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "mappings": {
            "$ref": "#/components/schemas/CustomSchemaMappings"
          },
          "active": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "name",
          "mappings",
          "active",
          "createdAt"
        ]
      },
      "CustomSchemaCreate": {
        "type": "object",
        "description": "Request body for `POST /v1/schema/custom`.",
        "required": [
          "name",
          "mappings"
        ],
        "properties": {
          "name": {
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-z0-9][a-z0-9-]{1,98}[a-z0-9]$",
            "example": "my-app-schema",
            "description": "3-100 lowercase chars + hyphens. Must be unique within the workspace and cannot collide with reserved names (`calry`, `calry-v1`, `native`)."
          },
          "description": {
            "type": "string",
            "nullable": true,
            "description": "Optional human-readable note shown in the dashboard."
          },
          "mappings": {
            "$ref": "#/components/schemas/CustomSchemaMappings"
          }
        }
      },
      "CustomSchemaCreateResponse": {
        "type": "object",
        "description": "Returned by `POST /v1/schema/custom` (201). Includes a `usage` hint telling the caller exactly which header value to set on subsequent requests.",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "mappings": {
            "$ref": "#/components/schemas/CustomSchemaMappings"
          },
          "usage": {
            "type": "string",
            "example": "Set header: X-Schema: my-app-schema"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "name",
          "mappings",
          "usage",
          "createdAt"
        ]
      },
      "CustomSchemaUpdate": {
        "type": "object",
        "description": "Request body for `PATCH /v1/schema/custom/{id}`. All fields optional; omitted fields are left unchanged. `name` is intentionally NOT patchable — create a new schema and migrate consumers if you need to rename.",
        "properties": {
          "description": {
            "type": "string",
            "nullable": true
          },
          "mappings": {
            "$ref": "#/components/schemas/CustomSchemaMappings"
          },
          "active": {
            "type": "boolean",
            "description": "Toggle the schema on/off. When `false`, requests carrying this schema name in `X-Schema` fall back to `native`."
          }
        }
      },
      "CustomSchemaListResponse": {
        "type": "object",
        "description": "Returned by `GET /v1/schema/custom`. Returns every custom schema owned by the workspace.",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomSchemaSummary"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          }
        }
      },
      "CustomSchemaDeleteResponse": {
        "type": "object",
        "properties": {
          "deleted": {
            "type": "boolean",
            "example": true
          }
        },
        "required": [
          "deleted"
        ]
      },
      "Error": {
        "type": "object",
        "description": "Standardized error envelope. Returned by EVERY 4xx/5xx response on this API. Required fields (`code`, `message`, `fix`, `docs_url`, `request_id`) are designed for LLM-driven self-recovery — an AI agent should be able to fix the underlying problem and retry without escalating to a human. Lead with `fix` and `docs_url` in your tooling; demote `support` (rare) to a last resort.",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "code",
              "message",
              "fix",
              "docs_url",
              "request_id"
            ],
            "properties": {
              "code": {
                "type": "string",
                "description": "Stable machine-parseable error identifier. Match on this for retry logic. Codes are namespaced and never change meaning.",
                "example": "invalid_params"
              },
              "message": {
                "type": "string",
                "description": "Human-readable cause. Echoes the offending value when relevant.",
                "example": "The check_in_after parameter must be an ISO 8601 date (YYYY-MM-DD or YYYY-MM-DDTHH:mm:ssZ). You sent: 'garbage'."
              },
              "fix": {
                "type": "string",
                "description": "Exact recovery steps. Surface this verbatim in your UI / agent reasoning trace — it is written to be actionable without further reading.",
                "example": "Pass check_in_after as a string in ISO 8601 format. Example: ?check_in_after=2026-01-15"
              },
              "docs_url": {
                "type": "string",
                "format": "uri",
                "description": "Canonical write-up for this error code. URL pattern: `https://repull.dev/docs/errors/{code}`.",
                "example": "https://repull.dev/docs/errors/invalid_params"
              },
              "request_id": {
                "type": "string",
                "description": "Opaque per-request id. Mirrors the `x-request-id` response header. Capture it before retrying so logs can be correlated.",
                "example": "req_01J5X7Y8Z9ABCDEF12345678"
              },
              "field": {
                "type": "string",
                "description": "Body field, query param, or path segment the error is about. Present when the error is parameter-specific.",
                "example": "check_in_after"
              },
              "value_received": {
                "description": "Echo of the offending value (truncated to 200 chars). Useful for debugging — helps callers see what the server actually parsed.",
                "example": "garbage"
              },
              "valid_values": {
                "type": "array",
                "items": {
                  "type": "string"
                },
[...]
