{
  "openapi": "3.0.3",
  "info": {
    "title": "Repull API",
    "version": "1.0.0",
    "description": "The unified API for vacation rental tech. Connect to 50+ PMS platforms and 4 OTA channels through one REST API. Built-in AI operations for guest communication, pricing, and listing optimization.\n\n## Designed for AI agents\nEvery error response on this API includes machine-parseable fields so an LLM (Claude in MCP, Cursor, Cline, GPT, etc.) can self-recover without escalating to a human:\n- `error.code` — stable string identifier (e.g. `invalid_params`, `rate_limit_exceeded`)\n- `error.message` — human-readable cause\n- `error.fix` — exact recovery steps (e.g. \"Pass `check_in_after` as ISO 8601: `?check_in_after=2026-01-15`\")\n- `error.docs_url` — link to the canonical write-up at `https://repull.dev/docs/errors/{code}`\n- `error.request_id` — id to correlate with server-side logs\n- `error.field` / `error.value_received` / `error.valid_values` / `error.did_you_mean` — when the error is parameter-specific\n- `error.retry_after` — seconds to wait before retrying (rate-limit + transient upstream)\n\n`Access-Control-Expose-Headers` lists `x-request-id` and the `X-RateLimit-*` family so browsers can read them on cross-origin responses.\n\n## Quick Start\n1. Get an API key at https://repull.dev/dashboard\n2. Connect a PMS: `POST /v1/connect/{provider}`\n3. List properties: `GET /v1/properties`\n4. Get reservations: `GET /v1/reservations`\n\n## Authentication\nAll requests require a Bearer token:\n```\nAuthorization: Bearer sk_live_YOUR_API_KEY\n```\n\n## Request Correlation (X-Request-ID)\nEvery response carries an `X-Request-ID` header, e.g. `X-Request-ID: req_01HXY...`. Include this id in support tickets and bug reports — we can trace the full request lifecycle (auth, rate limit, handler, downstream calls, log row) from a single id.\n\nYou may set the header on the inbound request to forward your own trace id; we will echo it back instead of generating a new one. Accepted format: `^[\\\\w.-]{1,128}$`.\n\nThe id is also embedded in error envelopes as `request_id` so server-side log diffs work even when the response headers are stripped by an intermediate proxy.\n\n## Rate Limits\nThe public API enforces a per-API-key sliding-window rate limit on top of the per-tier monthly + daily-AI quotas.\n\n**Default policy:** 600 requests per 60 seconds, per API key. Sliding window — there is no fixed-minute boundary you can burst across.\n\nEvery response includes:\n\n| Header | Meaning |\n|---|---|\n| `X-RateLimit-Limit` | Requests permitted in the current window. |\n| `X-RateLimit-Remaining` | Requests left in the current window after this call. |\n| `X-RateLimit-Reset` | Unix epoch (seconds) when the next slot opens. |\n| `X-RateLimit-Policy` | Machine-readable policy descriptor, e.g. `600;w=60`. |\n| `Retry-After` | Seconds to wait before retrying. **Only present on 429 responses.** |\n\n**On 429 (rate_limit_exceeded):** the response body matches the standard error envelope with `code: \"rate_limit_exceeded\"`, plus `limit`, `window_seconds`, `retry_after`, and `request_id` fields. SDKs MUST honor `Retry-After` and use exponential backoff with jitter on subsequent retries — never a tight loop.\n\nRecommended backoff:\n```\nsleep_ms = (Retry-After * 1000) + random(0..250)\n```\n\nMonthly + daily-AI tier quotas (`free`, `starter`, `custom`) are enforced separately and also surface as 429s; they include `tier`, `scope`, and `resetsAt` fields.\n\n## Plan Limits (402 — `listings_limit_exceeded`)\nThe Repull API also enforces a per-tier cap on **active listings**:\n\n| Tier | Active listings cap |\n|---|---|\n| `free` | 3 |\n| `starter` | 50 |\n| `custom` | unlimited |\n\nWhen a customer's active-listing count is above their tier cap, the API returns **`402 Payment Required`** with `error.code = \"listings_limit_exceeded\"` on every route EXCEPT:\n\n- `/v1/health` — uptime probes are never gated.\n- `/v1/usage/*` — so dashboards can render the over-cap state.\n- Any `DELETE` — so the customer can trim listings to get back under the cap without paying.\n\nUnlike 429, 402 is NOT a \"wait and retry\" condition — `Retry-After` is not set. The only paths back to 200 are:\n  1. `DELETE` enough listings to come back under the cap, or\n  2. Upgrade at `https://repull.dev/dashboard/billing`. The server-side usage cache is 60s, so the first 200 after an upgrade may take up to a minute.\n\nThe envelope mirrors `rate_limit_exceeded` for SDK ergonomics: `tier`, `limit`, `active_listings`, `upgrade_url`, plus the standard `code` / `message` / `fix` / `docs_url` / `request_id`.",
    "contact": {
      "email": "ivan@vanio.ai",
      "url": "https://repull.dev"
    },
    "license": {
      "name": "Proprietary"
    },
    "x-logo": {
      "url": "https://repull.dev/icon.svg"
    },
    "x-llm-friendly": true,
    "x-error-envelope": {
      "description": "Every 4xx/5xx response on this API uses the same error envelope. See `#/components/schemas/Error` for the schema and `#/components/responses/*` for canonical examples per status code.",
      "required_fields": [
        "code",
        "message",
        "fix",
        "docs_url",
        "request_id"
      ],
      "optional_fields": [
        "field",
        "value_received",
        "valid_values",
        "did_you_mean",
        "retry_after",
        "support"
      ],
      "docs_root": "https://repull.dev/docs/errors"
    }
  },
  "servers": [
    {
      "url": "https://api.repull.dev",
      "description": "Production"
    },
    {
      "url": "http://repull.localhost:3000/api/repull",
      "description": "Local development"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Properties",
      "description": "List and manage vacation rental properties across all connected PMS platforms"
    },
    {
      "name": "Listings",
      "description": "Create native Repull listings, generate AI content, and publish to multiple channels (Airbnb + Booking.com) from one API."
    },
    {
      "name": "Reservations",
      "description": "Query, create, update, and cancel reservations"
    },
    {
      "name": "Availability",
      "description": "Check and update property availability and pricing"
    },
    {
      "name": "Guests",
      "description": "Guest profiles and contact information"
    },
    {
      "name": "Conversations",
      "description": "Guest messaging across platforms"
    },
    {
      "name": "Reviews",
      "description": "Guest reviews and responses"
    },
    {
      "name": "Connect",
      "description": "Manage PMS/OTA connections. Supports 50+ platforms."
    },
    {
      "name": "Migrate",
      "description": "Repull Migrate — move a property manager's data out of their old PMS: import, report, channel links, cutover."
    },
    {
      "name": "Webhooks",
      "description": "Subscribe to real-time events (reservation changes, messages, etc.)"
    },
    {
      "name": "Airbnb",
      "description": "Direct Airbnb channel management — listings, pricing, availability, messaging, reviews"
    },
    {
      "name": "Booking.com",
      "description": "Direct Booking.com channel management — properties, rates, content, messaging"
    },
    {
      "name": "VRBO",
      "description": "VRBO channel management — listings and reservations"
    },
    {
      "name": "Plumguide",
      "description": "Plumguide channel management — availability, pricing, bookings"
    },
    {
      "name": "AI",
      "description": "AI-powered operations — guest responses, intent classification, listing generation, pricing suggestions"
    },
    {
      "name": "Pricing",
      "description": "Atlas-powered pricing recommendations and per-listing strategy. Recommendations are pre-computed by the Atlas pricing model from comp data, demand signals, and event calendars; this surface lets you read them, apply or decline them, and tune the strategy that constrains the model."
    },
    {
      "name": "Markets",
      "description": "Atlas market intelligence — per-city KPIs, comp distributions, calendar-level demand, and events. Sourced from Atlas (Vanio's 660-worker market-intelligence fleet) merged with the customer's own listing data."
    },
    {
      "name": "Atlas",
      "description": "Per-listing Atlas intelligence — comp set with daily nightly pricing, and Atlas DNA segment intelligence (quality tiers, design styles, ADR uplift recommendations). Sourced from Atlas's comp database + DNA scoring pipeline."
    },
    {
      "name": "Billing",
      "description": "Plan info, usage, and checkout"
    },
    {
      "name": "System",
      "description": "Health checks and API status"
    },
    {
      "name": "schema",
      "description": "Custom field-mapping schemas to reshape response payloads to your app's data model. Built-in schemas (`native`, `calry`, `calry-v1`) ship out of the box; create custom schemas with `POST /v1/schema/custom` and select one per request via the `X-Schema` header."
    },
    {
      "name": "KV",
      "description": "Project-scoped key-value store. Persist user preferences, feature flags, and small JSON state from customer-built mini-apps without standing up a separate database. 64 KiB per key, 1 MiB per customer. Optional TTL."
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key — `sk_live_*`",
        "bearerFormat": "API Key"
      }
    },
    "schemas": {
      "Property": {
        "type": "object",
        "description": "A vacation rental property in your Repull workspace. Backed by the core `listings` row — enriched per-PMS fields (bedrooms, property type, provider id, etc.) live in provider-specific detail tables and are NOT returned here.\n\nField availability differs by endpoint:\n- `channels` is returned by the list endpoint (`GET /v1/properties`) only.\n- `latitude`, `longitude`, `createdAt`, and `amenities` are returned by the detail endpoint (`GET /v1/properties/{id}`) only. `amenities` requires `?include=amenities`.\n\nAn **inactive** property (`status: inactive`) appears only in the list endpoint, and only when `?status=inactive|all` asks for it. Such a row carries identity fields only — `id`, `name`, `status`, `lifecycleStatus`, `channels`, `updatedAt` — so every other field is absent until the property is activated. Every other endpoint answers `403 listing_inactive` for it.",
        "properties": {
          "id": {
            "type": "string",
            "description": "Internal Repull property ID. Equal to the listing id (`listings.id`); the same integer is used as `listingId` on reservations and `propertyId` on availability."
          },
          "name": {
            "type": "string",
            "description": "Property name",
            "example": "Oceanview Suite #3"
          },
          "address": {
            "type": "string",
            "nullable": true,
            "description": "Street address (from the listing's `street` field)."
          },
          "city": {
            "type": "string",
            "nullable": true,
            "example": "Miami Beach"
          },
          "latitude": {
            "type": "string",
            "nullable": true,
            "description": "Detail endpoint only. Decimal degrees, as a string.",
            "example": "25.7617"
          },
          "longitude": {
            "type": "string",
            "nullable": true,
            "description": "Detail endpoint only. Decimal degrees, as a string.",
            "example": "-80.1918"
          },
          "currency": {
            "type": "string",
            "nullable": true,
            "description": "ISO 4217 currency code for this property's pricing.",
            "example": "USD"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "inactive"
            ],
            "description": "Derived from `listings.active`."
          },
          "lifecycleStatus": {
            "type": "string",
            "nullable": true,
            "description": "The listing's lifecycle state (e.g. `live`, `draft`, `archived`)."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "When the property was created. Detail endpoint only."
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Last time this property record changed. Feed the newest value you have seen back as `?updated_since=` to poll for changes only. List endpoint (`GET /v1/properties`) only."
          },
          "channels": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "OTAs/channels this property is actively published on, as channel-name strings (e.g. `airbnb`, `booking`, `vrbo`). Empty array when the property has no active channel links. List endpoint (`GET /v1/properties`) only.",
            "example": [
              "airbnb",
              "booking"
            ]
          },
          "amenities": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ListingAmenity"
            },
            "description": "Amenity rows for the property. Detail endpoint only, and **only present when the caller passes `?include=amenities`.** Empty array (`[]`) when the property has no amenity rows."
          }
        }
      },
      "PropertyAvailabilityDay": {
        "type": "object",
        "description": "One calendar day in the availability window.",
        "required": [
          "date",
          "available",
          "price",
          "minNights"
        ],
        "properties": {
          "date": {
            "type": "string",
            "format": "date",
            "description": "The calendar date, ISO `YYYY-MM-DD`.",
            "example": "2026-09-01"
          },
          "available": {
            "type": "boolean",
            "description": "Whether the property is bookable on this date. `false` when the calendar marks the date booked or blocked. Only dates we actually hold a calendar row for appear in `days`, so this is never a guess — a date with no data is listed in `coverage.missingDates` instead."
          },
          "price": {
            "type": "number",
            "description": "Nightly price for this date in the property currency. Falls back to the property's default nightly price when the calendar row itself carries no price.",
            "example": 245
          },
          "minNights": {
            "type": "integer",
            "description": "Minimum-stay requirement for a stay starting on this date. Falls back to the listing-level default min-nights when the calendar row carries none.",
            "example": 2
          }
        }
      },
      "PropertyAvailabilityCoverage": {
        "type": "object",
        "description": "How much of the requested window we actually hold calendar data for. Read this before treating an absent date as bookable — absence means \"no data\", not \"available\".",
        "required": [
          "requestedDays",
          "coveredDays",
          "missingDates"
        ],
        "properties": {
          "requestedDays": {
            "type": "integer",
            "description": "Number of dates in the requested `[from, to]` window, after the 366-day cap.",
            "example": 30
          },
          "coveredDays": {
            "type": "integer",
            "description": "Number of those dates present in `days`.",
            "example": 30
          },
          "missingDates": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "date"
            },
            "description": "Requested dates with no calendar row, ascending. Availability for these dates is UNKNOWN — do not treat them as bookable.",
            "example": []
          }
        }
      },
      "PropertyAvailability": {
        "type": "object",
        "description": "Channel-agnostic availability calendar for a property over the requested window. `days` carries only the dates backed by a real calendar row; anything the calendar does not cover is reported in `coverage.missingDates` rather than synthesised as available.",
        "required": [
          "propertyId",
          "currency",
          "days",
          "coverage"
        ],
        "properties": {
          "propertyId": {
            "type": "string",
            "description": "Repull property id (equal to `listings.id`), emitted as a string like every other id in the API.",
            "example": "4118"
          },
          "currency": {
            "type": "string",
            "description": "ISO 4217 currency code for the nightly prices in `days`.",
            "example": "USD"
          },
          "days": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PropertyAvailabilityDay"
            },
            "description": "Per-date calendar for the requested window (capped at 366 days), ordered ascending by date. Contains only dates we hold data for — it may be shorter than the window, or empty."
          },
          "coverage": {
            "$ref": "#/components/schemas/PropertyAvailabilityCoverage"
          }
        }
      },
      "ReservationPrimaryGuest": {
        "type": "object",
        "description": "Inline guest summary resolved by JOIN-ing the `guests` table. Populated for every reservation that has a linked guest row; OMITTED entirely (not null) for owner-blocks / pre-arrival rows / partial-sync gaps. Always optional-chain in SDK consumers.",
        "properties": {
          "id": {
            "type": "string",
            "description": "Internal Repull guest ID. Use `GET /v1/guests/{id}` for the full profile."
          },
          "firstName": {
            "type": "string",
            "nullable": true
          },
          "lastName": {
            "type": "string",
            "nullable": true
          },
          "email": {
            "type": "string",
            "format": "email",
            "nullable": true,
            "description": "Primary email contact (or first non-primary if no primary set)."
          },
          "phone": {
            "type": "string",
            "nullable": true,
            "description": "Primary phone contact (or first non-primary if no primary set)."
          },
          "language": {
            "type": "string",
            "nullable": true,
            "description": "Guest's preferred language (BCP-47 / ISO 639-1)."
          }
        }
      },
      "ReservationOccupancy": {
        "type": "object",
        "description": "Normalized guest counts for the stay. Mirrors the legacy `guestDetails.numberOf*` fields under canonical short names. Omitted when no count fields are present on the reservation.",
        "properties": {
          "adults": {
            "type": "integer",
            "nullable": true
          },
          "children": {
            "type": "integer",
            "nullable": true
          },
          "infants": {
            "type": "integer",
            "nullable": true
          },
          "pets": {
            "type": "integer",
            "nullable": true
          },
          "total": {
            "type": "integer",
            "nullable": true,
            "description": "Total guests (sum across all categories as reported by the source channel)."
          }
        }
      },
      "ReservationMoneyLine": {
        "type": "object",
        "required": [
          "amount"
        ],
        "description": "One line inside a fee / tax / discount collection. `amount` is always a `number` in the reservation `currency` — the underlying channel data stores some amounts as decimal strings and the API coerces them. Every other property is passed through only when the source channel supplied it.",
        "properties": {
          "name": {
            "type": "string",
            "description": "Label as the channel reported it.",
            "example": "Cleaning Fee"
          },
          "type": {
            "type": "string",
            "description": "Channel-reported classifier. NOT an enum — new channels introduce new values. Observed on fees: `cleaning`, `extra_guest`, `service`, `guest_service`, `pet`, `fixed`, `add_on`, `host_service`, `platform`, `processing`. Observed on taxes: `airbnb_collected` (channel collected AND remitted it), `pass_through` (reaches the host to remit), `tax`, `custom`.",
            "example": "cleaning"
          },
          "amount": {
            "type": "number",
            "description": "Amount in the reservation `currency`.",
            "example": 126
          },
          "description": {
            "type": "string",
            "description": "Longer channel-supplied description. Only present when it differs from `name`.",
            "example": "Extra guest fee for 1 additional guest(s)"
          },
          "quantity": {
            "type": "number",
            "description": "Units billed, when the channel reports a quantity (Booking.com add-ons).",
            "example": 1
          },
          "vat": {
            "type": "number",
            "description": "VAT charged on top of this line, when the channel splits it out separately.",
            "example": 0
          }
        }
      },
      "ReservationHostFinancials": {
        "type": "object",
        "description": "HOST-side view of the stay — what it looks like on the host ledger. Projected from the reservation's own stored price breakdown, so it is available on every channel (Airbnb, Booking.com, VRBO, direct, owner), not just Airbnb.\n\n**Nothing here is synthesised.** A property is present only when the source breakdown genuinely carries it; a component the channel never reported is OMITTED rather than returned as `0`. An empty array means the channel reported an empty collection.",
        "properties": {
          "accommodation": {
            "type": "number",
            "description": "Accommodation subtotal before fees, taxes and discounts.",
            "example": 485
          },
          "discounts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ReservationMoneyLine"
            },
            "description": "Discounts applied to the stay (length-of-stay, non-refundable, promotional). Amounts are positive magnitudes of the reduction."
          },
          "guestFees": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ReservationMoneyLine"
            },
            "description": "The guest-side platform service fee as it appears on the host statement. Present only on channels that report it (Airbnb)."
          },
          "hostFees": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ReservationMoneyLine"
            },
            "description": "Fees the channel charged the HOST — host service fee / commission (with `vat` split out where the channel provides it), platform fee, payment processing fee."
          },
          "taxes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ReservationMoneyLine"
            },
            "description": "Taxes on the stay. Same collection as `financials.guest.taxes` — each line's `type` says who remits (`airbnb_collected` = the channel already collected and remitted it, `pass_through` = it reaches the host). The API deliberately does not split the list by remitter, so no classification of ours is baked into the payload."
          },
          "revenue": {
            "type": "number",
            "description": "Expected host payout for the stay, in `currency`.",
            "example": 566.72
          }
        }
      },
      "ReservationGuestFinancials": {
        "type": "object",
        "description": "GUEST-side view of the stay — what the guest was actually charged. Same non-fabrication rule as `ReservationHostFinancials`: absent components are omitted, never zero-filled.",
        "properties": {
          "totalPrice": {
            "type": "number",
            "description": "Stay total the guest paid, in `currency`. Taken from the stored breakdown; falls back to the reservation total when the breakdown carries no total of its own.",
            "example": 739.32
          },
          "fees": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ReservationMoneyLine"
            },
            "description": "Every fee line the guest was charged — cleaning, extra guest, pass-through host fees, platform guest service fee, channel add-ons. Deduplicated: channels that report a fee both as an array line and as a scalar (e.g. `cleaning`) yield ONE line."
          },
          "taxes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ReservationMoneyLine"
            },
            "description": "Every tax line the guest was charged. Same collection as `financials.host.taxes`."
          }
        }
      },
      "ReservationFinancials": {
        "type": "object",
        "description": "Normalized money block. `totalPrice` is a `number` (NOT a decimal-as-string) — the legacy top-level `totalPrice` string field is kept on the parent for back-compat but is deprecated. `totalPrice` is the GUEST-side stay total (what the guest paid), NOT the host payout.\n\nThe full host/guest breakdown — accommodation subtotal, discounts, cleaning and other guest fees, channel service fees split host/guest, tax lines, and the expected host payout — is served inline under `host` and `guest` for EVERY channel. (Earlier versions of this spec sent you to `GET /v1/channels/airbnb/transactions` for the host payout; that endpoint is Airbnb-only and is no longer the place to look for a reservation's financials. It remains useful for settlement-level detail — actual payout dates and settlement status — which the reservation record does not carry.)\n\nNot yet served here: individual guest **payment records** (charges, refunds, schedules) and post-booking **adjustments** — neither is stored on the reservation breakdown.",
        "properties": {
          "totalPrice": {
            "type": "number",
            "nullable": true,
            "description": "GUEST-side stay total in `currency` — what the guest paid, not the host payout. Number, not string. For the host payout see `financials.host.revenue`.",
            "example": 1250
          },
          "currency": {
            "type": "string",
            "nullable": true,
            "description": "ISO 4217 currency code.",
            "example": "USD"
          },
          "paymentStatus": {
            "type": "string",
            "nullable": true,
            "description": "Payment lifecycle status (e.g. `pending`, `paid`, `refunded`)."
          },
          "cancellationPolicy": {
            "type": "string",
            "description": "Channel cancellation policy code, verbatim from the reservation. Airbnb codes look like `strict_14_with_grace_period`, `moderate`, `flexible`, `tiered_pricing_non_refundable`; Booking.com reports a numeric policy id. Omitted when the channel did not supply one.",
            "example": "strict_14_with_grace_period"
          },
          "host": {
            "$ref": "#/components/schemas/ReservationHostFinancials"
          },
          "guest": {
            "$ref": "#/components/schemas/ReservationGuestFinancials"
          }
        }
      },
      "Reservation": {
        "type": "object",
        "description": "A booking/reservation from a connected PMS. Identical shape between list-row (`GET /v1/reservations`) and detail (`GET /v1/reservations/{id}`) — SDK consumers can use the same type for both.\n\nThe canonical (post-2026-05) shape uses nested `primaryGuest`, `occupancy`, `financials` blocks. The legacy flat fields (`guestId`, `totalPrice`, `currency`, `guestDetails`) remain populated for back-compat and are marked `deprecated` here. New consumers should read from the nested blocks; existing consumers continue to work unchanged.",
        "properties": {
          "id": {
            "type": "string",
            "description": "Internal Repull reservation ID"
          },
          "listingId": {
            "type": "string",
            "description": "Internal Repull listing ID this reservation is on."
          },
          "guestId": {
            "type": "string",
            "deprecated": true,
            "description": "DEPRECATED — use `primaryGuest.id`. Internal Repull guest ID. Kept populated for back-compat."
          },
          "checkIn": {
            "type": "string",
            "format": "date",
            "example": "2026-04-15"
          },
          "checkOut": {
            "type": "string",
            "format": "date",
            "example": "2026-04-20"
          },
          "checkInTime": {
            "type": "string",
            "nullable": true,
            "description": "Local check-in time for this stay, `HH:MM` on a 24-hour clock in the **property's own timezone** — not UTC. Usually inherited from the listing policy, overridden per reservation where an early check-in was agreed. `null` when unknown. This is the same field `PATCH /v1/reservations/{id}` writes.",
            "example": "16:00"
          },
          "checkOutTime": {
            "type": "string",
            "nullable": true,
            "description": "Local check-out time for this stay, `HH:MM` on a 24-hour clock in the property's own timezone. Pair with `checkOut` to schedule the turnover clean. `null` when unknown. This is the same field `PATCH /v1/reservations/{id}` writes.",
            "example": "10:00"
          },
          "status": {
            "type": "string",
            "enum": [
              "confirmed",
              "pending",
              "cancelled",
              "completed"
            ],
            "example": "confirmed",
            "description": "Lifecycle status. The API normalises a multi-decade internal taxonomy down to these four buckets, so the value you receive is always one of the enum constants. `completed` is derived from `checkOut < today`. A `pending` booking request the channel already let lapse — Airbnb expires an unanswered request 24 hours after the guest asks, and no request can be answered once its check-in has passed — is reported as `cancelled` with `statusDetail: \"request_expired\"`, even when the channel never told us. Every `cancelled` reservation says how it ended in `statusDetail` when the channel tells us."
          },
          "statusDetail": {
            "type": "string",
            "enum": [
              "request_expired",
              "declined",
              "request_voided",
              "verification_failed",
              "hold_voided",
              "cancelled_by_guest",
              "cancelled_by_host",
              "cancelled_by_platform"
            ],
            "description": "On a `cancelled` reservation: how it ended. `request_expired` — a booking request nobody answered in time (Airbnb's 24-hour window passed, or the check-in did), whether the channel reported it or we derived it. `declined` — the host declined the request. `request_voided` — the request was withdrawn or voided before anyone answered it. `verification_failed` — the guest failed Airbnb's identity verification. `hold_voided` — Airbnb voided a booking it was holding for the guest's payment or verification. `cancelled_by_guest` / `cancelled_by_host` / `cancelled_by_platform` — a booking cancelled by that party (`platform` is the channel itself, e.g. Airbnb support). Matches what the webhooks report for the same change. Absent on every other status, and on a cancellation whose channel gives no reason.",
            "example": "declined"
          },
          "pendingReason": {
            "type": "string",
            "enum": [
              "host_approval",
              "guest_payment",
              "guest_verification"
            ],
            "description": "Why a `pending` reservation is pending — who has to act next. `host_approval`: a booking request the host must accept or decline (see `respondBy`). `guest_payment`: Airbnb is waiting for the guest to pay. `guest_verification`: Airbnb is holding the booking while the guest completes identity verification. The last two need no action from the host, and Airbnb does not publish a deadline for them. Present only while `status` is `pending`; when it changes you receive `reservation.updated` with the previous raw status in `previousAttributes.status`, even if `status` stays `pending`.",
            "example": "guest_verification"
          },
          "respondBy": {
            "type": "string",
            "format": "date-time",
            "description": "On a `pending` Airbnb booking request (`pendingReason: host_approval`) that can still be answered: when it lapses (24 hours after the guest asked). Accept or decline before then with `POST /v1/reservations/{id}/accept` / `/decline`. Absent on every other reservation, including bookings Airbnb is holding for the guest's payment or verification — those have no deadline we can report.",
            "example": "2026-09-23T09:00:00.000Z"
          },
          "source": {
            "type": "string",
            "nullable": true,
            "description": "Booking source / channel. Lowercase. May be null on legacy rows. Canonical name as of 2026-05; `platform` is kept as an alias.",
            "enum": [
              "airbnb",
              "booking.com",
              "vrbo",
              "direct",
              "website",
              "owner",
              "other",
              null
            ],
            "example": "airbnb"
          },
          "platform": {
            "type": "string",
            "nullable": true,
            "deprecated": true,
            "description": "DEPRECATED alias for `source`. Same value, kept for back-compat.",
            "enum": [
              "airbnb",
              "booking.com",
              "vrbo",
              "direct",
              "website",
              "owner",
              "other",
              null
            ],
            "example": "airbnb"
          },
          "confirmationCode": {
            "type": "string",
            "description": "Channel-side confirmation code (Airbnb HMxxx, Booking.com numeric, etc.).",
            "example": "HMXYZ123"
          },
          "primaryGuest": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ReservationPrimaryGuest"
              }
            ],
            "description": "Inline guest summary. May be undefined for owner-blocks / pre-arrival rows."
          },
          "occupancy": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ReservationOccupancy"
              }
            ],
            "description": "Normalized guest counts. May be undefined when the source channel did not provide counts."
          },
          "financials": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ReservationFinancials"
              }
            ],
            "description": "Normalized money block. Always populated for paid reservations."
          },
          "totalPrice": {
            "type": "string",
            "deprecated": true,
            "description": "DEPRECATED — use `financials.totalPrice` (a number). Decimal-as-string (precision 10, scale 2) kept for back-compat.",
            "example": "1250.00"
          },
          "currency": {
            "type": "string",
            "deprecated": true,
            "description": "DEPRECATED — use `financials.currency`. ISO 4217 currency code.",
            "example": "USD"
          },
          "guestDetails": {
            "type": "object",
            "deprecated": true,
            "description": "DEPRECATED — use `occupancy` for normalized counts and `primaryGuest` for guest identity. Raw guest details from the source channel; shape varies by platform.",
            "additionalProperties": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "When the reservation row was created in Repull (not the booking-on-channel timestamp)."
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Last time this reservation was modified (dates, status, price, or guest details). Advances on every amendment or cancellation — poll or compare this value to reconcile changes instead of fingerprinting individual fields."
          },
          "bookedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "When the booking was made on the source channel (when reported by the channel)."
          },
          "guestName": {
            "type": "string",
            "nullable": true,
            "description": "Pre-resolved display name (`firstName lastName`) from the joined guest row. Undefined when no first name is available."
          }
        },
        "required": [
          "id",
          "listingId",
          "checkIn",
          "checkOut",
          "status",
          "confirmationCode",
          "createdAt",
          "updatedAt"
        ]
      },
      "Guest": {
        "type": "object",
        "description": "Guest list-row shape returned by `GET /v1/guests`. Pre-resolved primary phone/email + display name + cumulative stay aggregates so list UIs can render without a per-row round-trip.",
        "properties": {
          "id": {
            "type": "string"
          },
          "displayName": {
            "type": "string",
            "example": "Jane",
            "description": "Short display name (first name)."
          },
          "displayNameLong": {
            "type": "string",
            "example": "Jane Doe",
            "description": "Long display name (first + last). Falls back to displayName when last name is missing."
          },
          "avatarUrl": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "language": {
            "type": "string",
            "nullable": true,
            "description": "Guest's preferred language (ISO 639-1)."
          },
          "country": {
            "type": "string",
            "nullable": true,
            "description": "Guest country (from profile metadata or address)."
          },
          "phone": {
            "type": "string",
            "nullable": true,
            "description": "Primary phone contact (or first non-primary if no primary set)."
          },
          "email": {
            "type": "string",
            "format": "email",
            "nullable": true,
            "description": "Primary email contact."
          },
          "totalReservations": {
            "type": "integer",
            "description": "Lifetime reservation count."
          },
          "totalRevenue": {
            "type": "string",
            "description": "Decimal-as-string to preserve precision across mixed-currency totals.",
            "example": "14250.00"
          },
          "lastStayedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "firstStayedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "GuestContact": {
        "type": "object",
        "description": "One contact channel attached to a guest profile (phone, email, etc.).",
        "properties": {
          "type": {
            "type": "string",
            "example": "phone",
            "description": "Contact channel type (`phone`, `email`, etc.)."
          },
          "value": {
            "type": "string",
            "example": "+15551234567"
          },
          "verified": {
            "type": "boolean"
          },
          "isPrimary": {
            "type": "boolean"
          },
          "lastUsed": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "GuestFlag": {
        "type": "object",
        "description": "A risk/operational flag attached to a guest profile (e.g. blacklist, do-not-host, VIP). Severity comes from main vanio's flag taxonomy.",
        "properties": {
          "type": {
            "type": "string",
            "description": "Severity / category (e.g. `info`, `warning`, `block`)."
          },
          "note": {
            "type": "string",
            "nullable": true,
            "description": "Reason text when present."
          },
          "isActive": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "GuestNote": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "body": {
            "type": "string",
            "nullable": true
          },
          "category": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "createdBy": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "GuestReservationsSummary": {
        "type": "object",
        "description": "Aggregate counts of reservations attached to the guest. `future` is derived from `total - past - cancelled`.",
        "properties": {
          "total": {
            "type": "integer"
          },
          "future": {
            "type": "integer"
          },
          "past": {
            "type": "integer"
          },
          "cancelled": {
            "type": "integer"
          }
        }
      },
      "GuestProfile": {
        "type": "object",
        "description": "Full guest profile returned by `GET /v1/guests/{id}`. Aggregates the base list-row fields plus contacts, flags, notes, risk metadata, and a reservations-summary rollup.",
        "properties": {
          "id": {
            "type": "string"
          },
          "displayName": {
            "type": "string"
          },
          "displayNameLong": {
            "type": "string"
          },
          "avatarUrl": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "language": {
            "type": "string",
            "nullable": true
          },
          "country": {
            "type": "string",
            "nullable": true
          },
          "phone": {
            "type": "string",
            "nullable": true
          },
          "email": {
            "type": "string",
            "format": "email",
            "nullable": true
          },
          "totalReservations": {
            "type": "integer"
          },
          "totalRevenue": {
            "type": "string",
            "description": "Decimal as string."
          },
          "currency": {
            "type": "string",
            "nullable": true
          },
          "isBlacklisted": {
            "type": "boolean"
          },
          "blacklistedReason": {
            "type": "string",
            "nullable": true
          },
          "riskLevel": {
            "type": "string",
            "nullable": true,
            "description": "Main-vanio risk score (e.g. `low`, `medium`, `high`)."
          },
          "verificationLevel": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "contacts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GuestContact"
            }
          },
          "flags": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GuestFlag"
            }
          },
          "notes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GuestNote"
            }
          },
          "reservationsSummary": {
            "$ref": "#/components/schemas/GuestReservationsSummary"
          }
        }
      },
      "CalendarDay": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "format": "date",
            "example": "2026-04-15"
          },
          "available": {
            "type": "boolean"
          },
          "price": {
            "type": "number",
            "example": 250
          },
          "minNights": {
            "type": "integer",
            "example": 2
          }
        }
      },
      "Conversation": {
        "type": "object",
        "description": "Channel-agnostic message thread between the host workspace and a guest. Returned by `GET /v1/conversations`. The `id` is the internal Repull thread id (integer) — pass it back as the `{id}` path param on detail / messages calls.",
        "properties": {
          "id": {
            "type": "string"
          },
          "platform": {
            "type": "string",
            "nullable": true,
            "enum": [
              "airbnb",
              "booking",
              "vrbo",
              "website",
              "email"
            ],
            "example": "airbnb"
          },
          "externalThreadId": {
            "type": "string",
            "nullable": true,
            "description": "The source channel's own thread id (Airbnb thread id, Booking conversation id, …). Pass this as the `{threadId}` path param on `POST /v1/channels/airbnb/messaging/{threadId}/messages` to reply — it is the bridge from a unified conversation straight to the provider-specific send call. `null` when the thread has no external id yet (e.g. a website/email thread)."
          },
          "guestId": {
            "type": "string",
            "nullable": true
          },
          "listingId": {
            "type": "string",
            "nullable": true
          },
          "reservationId": {
            "type": "string",
            "nullable": true
          },
          "subject": {
            "type": "string",
            "nullable": true,
            "description": "Thread subject (email/website channels) or null when not applicable."
          },
          "lastMessageAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "lastMessagePreview": {
            "type": "string",
            "nullable": true,
            "description": "Short preview of the most recent message body for list-UI rendering."
          },
          "unreadCount": {
            "type": "integer"
          },
          "status": {
            "type": "string",
            "enum": [
              "open",
              "archived"
            ],
            "description": "`archived` is reserved for a future bit on `message_threads` — currently always `open`."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ConversationHost": {
        "type": "object",
        "description": "Linked host metadata for a conversation thread. Currently populated for Airbnb threads (resolved through `airbnb_hosts`); null for other channels until per-channel host enrichment lands.",
        "properties": {
          "id": {
            "type": "string"
          },
          "airbnbId": {
            "type": "string",
            "description": "Airbnb-side host id."
          },
          "firstName": {
            "type": "string"
          },
          "displayName": {
            "type": "string"
          },
          "avatarUrl": {
            "type": "string",
            "format": "uri",
            "nullable": true
          }
        }
      },
      "ConversationGuestContact": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "example": "phone"
          },
          "value": {
            "type": "string"
          },
          "isPrimary": {
            "type": "boolean"
          },
          "isVerified": {
            "type": "boolean"
          }
        }
      },
      "ConversationGuest": {
        "type": "object",
        "description": "Linked guest metadata for a conversation thread. Resolved through the thread's `reservation_id` → `reservations.guest_id`. Up to 50 contacts are returned.",
        "properties": {
          "id": {
            "type": "string"
          },
          "displayName": {
            "type": "string"
          },
          "avatarUrl": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "contacts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ConversationGuestContact"
            }
          }
        }
      },
      "ConversationDetail": {
        "type": "object",
        "description": "Returned by `GET /v1/conversations/{id}`. Extends the list-row `Conversation` shape with expanded `host` + `guest` blocks so SDK consumers can render thread headers without an extra round-trip.",
        "allOf": [
          {
            "$ref": "#/components/schemas/Conversation"
          },
          {
            "type": "object",
            "properties": {
              "host": {
                "nullable": true,
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ConversationHost"
                  }
                ]
              },
              "guest": {
                "nullable": true,
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ConversationGuest"
                  }
                ]
              }
            }
          }
        ]
      },
      "ConversationMessageAttachment": {
        "type": "object",
        "description": "A file on a message — a photo the guest sent, or a file sent to the guest. Files are copied to durable storage, so `url` keeps working after the channel's own link expires. Treat `url` as opaque.",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true
          },
          "url": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "Where to download the file."
          },
          "imageUrl": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "deprecated": true,
            "description": "Same value as `url` (kept for older clients; it is not image-only). Use `url`."
          },
          "type": {
            "type": "string",
            "enum": [
              "image",
              "video",
              "audio",
              "file"
            ],
            "description": "Coarse kind, derived from `contentType`."
          },
          "contentType": {
            "type": "string",
            "nullable": true,
            "example": "image/jpeg"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "Message": {
        "type": "object",
        "description": "A single message inside a conversation thread. Returned by `GET /v1/conversations/{id}/messages`. `direction` is normalized to `inbound` (from the guest) / `outbound` (from the host or an automation).",
        "properties": {
          "id": {
            "type": "string"
          },
          "externalMessageId": {
            "type": "string",
            "nullable": true,
            "description": "ID assigned by the source channel (Airbnb message id, Booking message id, etc.). Stable across syncs."
          },
          "direction": {
            "type": "string",
            "enum": [
              "inbound",
              "outbound"
            ]
          },
          "senderType": {
            "type": "string",
            "nullable": true,
            "description": "Free-form sender role from the channel (e.g. `guest`, `host`, `system`, `airbnb`). Use `direction` for binary inbound/outbound logic."
          },
          "senderName": {
            "type": "string"
          },
          "senderAvatar": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "channel": {
            "type": "string",
            "nullable": true,
            "description": "Delivery channel — `airbnb`, `booking`, `sms`, `email`, etc."
          },
          "body": {
            "type": "string",
            "description": "Message body in the original language."
          },
          "translatedBody": {
            "type": "string",
            "nullable": true,
            "description": "English translation when the original language is non-English and a translation has been computed."
          },
          "attachments": {
            "type": "array",
            "description": "Files on this message, inbound or outbound. Empty array when there are none. A file-only message has an empty `body`.",
            "items": {
              "$ref": "#/components/schemas/ConversationMessageAttachment"
            }
          },
          "isAutomated": {
            "type": "boolean",
            "description": "`true` when the message was sent by a Vanio automation (template, schedule, etc.)."
          },
          "aiGenerated": {
            "type": "boolean",
            "description": "`true` when the body was authored by Vanio AI (autopilot, draft)."
          },
          "sentAt": {
            "type": "string",
            "format": "date-time"
          },
          "deliveredAt": {
            "type": "string",
            "format": "date-time"
          },
          "readAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "ReviewCategory": {
        "type": "object",
        "description": "One scored sub-category of a multi-axis review (cleanliness, communication, accuracy, etc.). Categories vary by platform.",
        "properties": {
          "category": {
            "type": "string",
            "example": "cleanliness"
          },
          "rating": {
            "type": "number",
            "nullable": true,
            "description": "Per-category rating on the platform's scale (typically 1..5)."
          },
          "comment": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "ReviewResponse": {
        "type": "object",
        "description": "Host response to a review, when present.",
        "properties": {
          "body": {
            "type": "string"
          },
          "submittedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "Review": {
        "type": "object",
        "description": "A guest or host review unified across channels. Returned by `GET /v1/reviews` and `GET /v1/reviews/{id}`. Populated from main vanio's unified `reviews` table after the per-channel backfill cron has run.",
        "properties": {
          "id": {
            "type": "string",
            "description": "Internal Repull review id — pass back to `/v1/reviews/{id}`."
          },
          "externalId": {
            "type": "string",
            "description": "ID in the source channel (Airbnb review id, Booking review id, etc.). Pass as `review_id` to the provider reply endpoint."
          },
          "platform": {
            "type": "string",
            "nullable": true,
            "enum": [
              "airbnb",
              "booking",
              "vrbo"
            ]
          },
          "listingId": {
            "type": "string",
            "nullable": true,
            "description": "Internal Repull listing id the review is attached to."
          },
          "providerPropertyId": {
            "type": "string",
            "nullable": true,
            "description": "The source channel's own listing/property id for this review (Booking.com hotel/property id, Airbnb listing id, …). Pass this as `property_id` to `POST /v1/channels/booking/reviews` to post a host reply — it is the bridge from a unified review straight to the provider-specific reply call. `null` when the source listing id has not been mirrored yet."
          },
          "reservationId": {
            "type": "string",
            "nullable": true
          },
          "reservationConfirmationCode": {
            "type": "string",
            "nullable": true,
            "description": "Channel-side confirmation code for the reservation being reviewed."
          },
          "guestId": {
            "type": "string",
            "nullable": true
          },
          "guestName": {
            "type": "string",
            "nullable": true
          },
          "guestAvatar": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "reviewerRole": {
            "type": "string",
            "enum": [
              "guest",
              "host"
            ],
            "description": "Who wrote the review — `guest` (about the host/property) or `host` (about the guest)."
          },
          "rating": {
            "type": "number",
            "nullable": true,
            "description": "Overall rating on the platform's scale (typically 1..5). May be `null` for review types that lack a numeric overall score."
          },
          "categories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ReviewCategory"
            }
          },
          "publicReview": {
            "type": "string",
            "nullable": true,
            "description": "Public-facing review text shown on the listing page."
          },
          "privateFeedback": {
            "type": "string",
            "nullable": true,
            "description": "Private feedback the reviewer sent only to the host."
          },
          "isRevieweeRecommended": {
            "type": "boolean",
            "nullable": true,
            "description": "Did the reviewer recommend the reviewee? Used for guest-side reviews."
          },
          "response": {
            "nullable": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/ReviewResponse"
              }
            ]
          },
          "submittedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "When the review window closes (Airbnb has a 14-day window after checkout)."
          },
          "hidden": {
            "type": "boolean"
          },
          "language": {
            "type": "string",
            "nullable": true,
            "description": "Detected language (ISO 639-1) of the review body."
          }
        }
      },
      "Connection": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "provider": {
            "type": "string",
            "example": "hostaway"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "inactive",
              "error"
            ],
            "example": "active"
          },
          "externalAccountId": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "host": {
            "nullable": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/ConnectHost"
              }
            ],
            "description": "Host metadata for the linked account. Currently populated for Airbnb only; null for other providers."
          }
        }
      },
      "ConnectHost": {
        "type": "object",
        "description": "Public-facing metadata about the host whose account is linked. Lets clients render an account-level card (avatar + name) instead of just an opaque ID. Email is intentionally NOT exposed for Airbnb — the partner API doesn't return host email.",
        "properties": {
          "displayName": {
            "type": "string",
            "nullable": true,
            "example": "Lidia",
            "description": "Short display name (Airbnb first name)."
          },
          "displayNameLong": {
            "type": "string",
            "nullable": true,
            "example": "Lidia",
            "description": "Preferred long-form name. Falls back to displayName when the host hasn't set a preferred form."
          },
          "avatarUrl": {
            "type": "string",
            "nullable": true,
            "format": "uri",
            "description": "Profile picture URL (small)."
          },
          "avatarUrlLarge": {
            "type": "string",
            "nullable": true,
            "format": "uri",
            "description": "Profile picture URL (large)."
          },
          "activationStatus": {
            "type": "string",
            "nullable": true,
            "example": "active",
            "description": "Per-provider activation/onboarding status."
          }
        }
      },
      "ConnectProvider": {
        "type": "object",
        "description": "A channel the multi-channel Connect picker can show. Returned by `GET /v1/connect/providers` and consumed by SDKs that render their own picker UI.",
        "properties": {
          "id": {
            "type": "string",
            "example": "airbnb",
            "description": "Stable identifier passed back to /select-provider and used in /v1/connect/{provider} routes."
          },
          "displayName": {
            "type": "string",
            "example": "Airbnb"
          },
          "category": {
            "type": "string",
            "enum": [
              "ota",
              "pms"
            ],
            "description": "Channel category — OTAs are listing marketplaces; PMSes are property management systems."
          },
          "connectPattern": {
            "type": "string",
            "enum": [
              "oauth",
              "credentials",
              "activation",
              "claim"
            ],
            "description": "How the host is connected. `oauth`: provider-side consent screen. `credentials`: hosted form collects API keys. `activation`: push-only handshake (Vrbo). `claim`: connectivity-provider designation in the channel's Extranet (Booking.com)."
          },
          "status": {
            "type": "string",
            "enum": [
              "live",
              "beta",
              "coming-soon"
            ],
            "description": "Pickers should hide / disable `coming-soon` cards. `beta` cards are clickable but show a Beta pill."
          },
          "logoUrl": {
            "type": "string",
            "format": "uri",
            "description": "Logo URL — Clearbit stand-in until self-hosted SVGs land."
          },
          "description": {
            "type": "string",
            "example": "OAuth consent — host approves access in one click."
          },
          "docsUrl": {
            "type": "string",
            "format": "uri",
            "example": "https://repull.dev/docs/channels/airbnb"
          },
          "aliases": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true,
            "example": [
              "airbnb",
              "abnb"
            ],
            "description": "Optional friendly aliases the picker's search box can match."
          },
          "migrationCapabilities": {
            "type": "object",
            "nullable": true,
            "additionalProperties": true,
            "description": "PMS providers: what Repull Migrate can carry across, per entity — `{ read: { listings: { level, notes }, … }, write: { … } }` with `level` `full` | `partial` | `none`. `null` for channels (OTAs)."
          }
        },
        "required": [
          "id",
          "displayName",
          "category",
          "connectPattern",
          "status",
          "logoUrl",
          "description",
          "docsUrl"
        ]
      },
      "ConnectProviderListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ConnectProvider"
            }
          }
        }
      },
      "MigrationImportRun": {
        "type": "object",
        "description": "The last import run on a connection.",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "running",
              "completed",
              "failed"
            ]
          },
          "startedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "finishedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "entities": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "results": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "object",
              "properties": {
                "entityType": {
                  "type": "string",
                  "example": "listings"
                },
                "processed": {
                  "type": "integer"
                },
                "errors": {
                  "type": "integer"
                }
              }
            }
          },
          "error": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "Migration": {
        "type": "object",
        "description": "One migration: a property manager moved through Repull Migrate, living in its own workspace.",
        "required": [
          "workspaceId",
          "name",
          "state",
          "connections",
          "counts"
        ],
        "properties": {
          "workspaceId": {
            "type": "string",
            "example": "1204",
            "description": "Pass as `X-Workspace-Id` to read this property manager's listings, reservations and conversations through the regular endpoints."
          },
          "name": {
            "type": "string",
            "example": "Seaside Rentals"
          },
          "externalRef": {
            "type": "string",
            "nullable": true,
            "description": "Your own id for this property manager, as sent when the migration was created."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "state": {
            "type": "string",
            "enum": [
              "awaiting_connection",
              "importing",
              "imported",
              "failed",
              "cut_over",
              "deactivated"
            ],
            "description": "`awaiting_connection` — not connected yet. `importing` — the first import is running. `imported` — data is in and kept fresh until cutover. `failed` — the last import failed (see `connections[].import.error`). `cut_over` — the source was disconnected. `deactivated` — the migration was deleted."
          },
          "cutoverAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "connections": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "provider": {
                  "type": "string",
                  "example": "guesty"
                },
                "status": {
                  "type": "string",
                  "example": "active"
                },
                "connectedAt": {
                  "type": "string",
                  "format": "date-time"
                },
                "lastPolledAt": {
                  "type": "string",
                  "format": "date-time",
                  "nullable": true
                },
                "import": {
                  "nullable": true,
                  "description": "The last import run, or null before the first one (and for channels, which sync on their own schedule).",
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/MigrationImportRun"
                    }
                  ]
                }
              }
            }
          },
          "counts": {
            "type": "object",
            "properties": {
              "listings": {
                "type": "integer"
              },
              "reservations": {
                "type": "integer"
              },
              "upcomingReservations": {
                "type": "integer"
              },
              "guests": {
                "type": "integer"
              },
              "conversations": {
                "type": "integer"
              }
            }
          }
        }
      },
      "MigrationReport": {
        "type": "object",
        "properties": {
          "workspaceId": {
            "type": "string"
          },
          "generatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "capabilities": {
            "type": "object",
            "description": "Per source provider: what it can carry, per entity — `{ read: { listings: { level, notes } … }, write: { … } }`, level `full` | `partial` | `none`.",
            "additionalProperties": true
          },
          "issues": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "severity": {
                  "type": "string",
                  "enum": [
                    "error",
                    "warning",
                    "info"
                  ]
                },
                "entity": {
                  "type": "string",
                  "example": "reservations"
                },
                "code": {
                  "type": "string",
                  "example": "reservation_missing_guest_contact"
                },
                "message": {
                  "type": "string"
                },
                "count": {
                  "type": "integer"
                },
                "sampleIds": {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  },
                  "description": "Up to 10 affected listing / reservation ids."
                }
              }
            }
          }
        }
      },
      "MigrationChannelMap": {
        "type": "object",
        "properties": {
          "workspaceId": {
            "type": "string"
          },
          "sources": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "provider": {
                  "type": "string"
                },
                "supported": {
                  "type": "boolean",
                  "description": "False when this PMS does not expose channel links."
                },
                "error": {
                  "type": "string",
                  "nullable": true
                }
              }
            }
          },
          "listings": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "listingId": {
                  "type": "string",
                  "nullable": true,
                  "description": "The property in this workspace, when it came across."
                },
                "name": {
                  "type": "string",
                  "nullable": true
                },
                "provider": {
                  "type": "string"
                },
                "externalListingId": {
                  "type": "string",
                  "description": "The listing id in the source PMS."
                },
                "airbnb": {
                  "type": "object",
                  "nullable": true,
                  "properties": {
                    "listingId": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string"
                    }
                  }
                },
                "booking": {
                  "type": "object",
                  "nullable": true,
                  "properties": {
                    "hotelId": {
                      "type": "string"
                    },
                    "roomId": {
                      "type": "string"
                    }
                  }
                },
                "vrbo": {
                  "type": "object",
                  "nullable": true,
                  "properties": {
                    "listingId": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "MigrationCutoverCheck": {
        "type": "object",
        "properties": {
          "workspaceId": {
            "type": "string"
          },
          "checkedAt": {
            "type": "string",
            "format": "date-time"
          },
          "matched": {
            "type": "integer"
          },
          "missing": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MigrationReservationRef"
            },
            "description": "Upcoming in the source, absent from the destination."
          },
          "extra": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MigrationReservationRef"
            },
            "description": "In the destination, not an upcoming reservation in the source."
          },
          "mismatched": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "source": {
                  "$ref": "#/components/schemas/MigrationReservationRef"
                },
                "destination": {
                  "$ref": "#/components/schemas/MigrationReservationRef"
                }
              }
            }
          }
        }
      },
      "MigrationReservationRef": {
        "type": "object",
        "properties": {
          "confirmationCode": {
            "type": "string"
          },
          "checkIn": {
            "type": "string",
            "format": "date"
          },
          "checkOut": {
            "type": "string",
            "format": "date"
          },
          "reservationId": {
            "type": "string"
          },
          "platform": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "ConnectSession": {
        "type": "object",
        "description": "A multi-channel Connect picker session. The `url` is the hosted picker page on connect.repull.dev — redirect the host to it, they pick a channel, and the picker takes them through the per-provider flow before redirecting back to the original `redirectUrl`.",
        "properties": {
          "sessionId": {
            "type": "string",
            "example": "cs_8gQrT2v9k3M4nLp7wJxYzAbCdEfGhIjKlMnOp"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "example": "https://connect.repull.dev/cs_8gQrT2v9k3M4nLp7wJxYzAbCdEfGhIjKlMnOp"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          },
          "state": {
            "type": "string",
            "nullable": true,
            "description": "Echoed back from the request body for SDK consumers that pass an opaque correlation token."
          },
          "purpose": {
            "type": "string",
            "enum": [
              "migrate"
            ],
            "description": "Present only on a Repull Migrate session."
          },
          "workspaceId": {
            "type": "string",
            "description": "Repull Migrate only: the workspace the property manager's data lands in. Read it with `X-Workspace-Id`, track it with `GET /v1/migrations/{workspaceId}`.",
            "example": "1204"
          }
        },
        "required": [
          "sessionId",
          "url",
          "expiresAt"
        ]
      },
      "SelectProviderResponse": {
        "type": "object",
        "description": "Returned by `POST /v1/connect/sessions/{sessionId}/select-provider`. The picker UI navigates the user to `nextUrl` to begin the per-provider handoff.",
        "properties": {
          "sessionId": {
            "type": "string"
          },
          "provider": {
            "type": "string",
            "example": "airbnb"
          },
          "pattern": {
            "type": "string",
            "enum": [
              "oauth",
              "credentials",
              "activation",
              "claim"
            ]
          },
          "nextUrl": {
            "type": "string",
            "format": "uri",
            "description": "Where to send the user next — OAuth consent, credentials form, activation checklist, or claim form."
          }
        }
      },
      "ConnectStatus": {
        "type": "object",
        "description": "Connection status response for a single provider. When `connected` is false, all other fields except `provider` and `host` may be omitted, and `host` is null.",
        "properties": {
          "connected": {
            "type": "boolean",
            "example": true
          },
          "provider": {
            "type": "string",
            "example": "airbnb"
          },
          "id": {
            "type": "string",
            "description": "Repull-side connection ID. Stable across token refreshes.",
            "example": "3"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "inactive",
              "error"
            ],
            "example": "active"
          },
          "externalAccountId": {
            "type": "string",
            "nullable": true,
            "description": "Provider-side account ID (e.g. the Airbnb host ID).",
            "example": "23998907"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "host": {
            "nullable": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/ConnectHost"
              }
            ],
            "description": "Host metadata, populated for Airbnb when the host row exists. Null for other providers (per-provider enrichment is incremental)."
          },
          "accounts": {
            "type": "array",
            "description": "Airbnb only: every Airbnb account this workspace has connected, including ones since disconnected. Pass `externalAccountId` as `accountId` to `DELETE /v1/connect/airbnb` to disconnect one account.",
            "items": {
              "type": "object",
              "properties": {
                "externalAccountId": {
                  "type": "string",
                  "description": "Airbnb host ID, as a string (it can exceed 2^53).",
                  "example": "79730216"
                },
                "name": {
                  "type": "string",
                  "nullable": true,
                  "example": "Raiden"
                },
                "pictureUrl": {
                  "type": "string",
                  "nullable": true
                },
                "status": {
                  "type": "string",
                  "nullable": true,
                  "example": "active"
                },
                "connected": {
                  "type": "boolean",
                  "description": "True while the account is active and its authorization is usable.",
                  "example": true
                }
              }
            }
          }
        }
      },
      "WebhookSubscription": {
        "type": "object",
        "description": "A registered webhook endpoint. The `secret` field is only present in the response of `POST /v1/webhooks` and `POST /v1/webhooks/{id}/rotate-secret` (Stripe pattern — capture it then; it is masked everywhere else).",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WebhookEventType"
            },
            "example": [
              "reservation.created",
              "reservation.updated"
            ]
          },
          "apiVersion": {
            "type": "string",
            "example": "2026-04"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "paused",
              "disabled"
            ]
          },
          "consecutiveFailures": {
            "type": "integer"
          },
          "lastDeliveredAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "lastSuccessAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "lastFailureAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "lastDeliveryStatus": {
            "type": "integer",
            "nullable": true
          },
          "disabledAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "secretMasked": {
            "type": "string",
            "nullable": true,
            "example": "whsec_a1b…f9c2"
          },
          "secret": {
            "type": "string",
            "nullable": true,
            "description": "Plaintext signing secret. Only returned by create + rotate. Capture and store securely."
          }
        }
      },
      "WebhookDelivery": {
        "type": "object",
        "description": "A single delivery attempt for a webhook event. The actual `WebhookEvent` envelope POSTed to the subscription URL is captured on `WebhookDeliveryDetail.payload` (this list view omits the body for size).",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "eventId": {
            "type": "string",
            "format": "uuid",
            "description": "Stable across retries of the same logical event."
          },
          "eventType": {
            "$ref": "#/components/schemas/WebhookEventType"
          },
          "statusCode": {
            "type": "integer",
            "nullable": true
          },
          "responseTimeMs": {
            "type": "integer",
            "nullable": true
          },
          "attempt": {
            "type": "integer"
          },
          "success": {
            "type": "boolean"
          },
          "errorMessage": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "succeededAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "failedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "WebhookDeliveryDetail": {
        "type": "object",
        "description": "Full request + response capture for one delivery attempt. `payload` is the exact `WebhookEvent` envelope that was (or would have been) POSTed to the subscription URL.",
        "properties": {
          "id": {
            "type": "string"
          },
          "eventId": {
            "type": "string"
          },
          "eventType": {
            "$ref": "#/components/schemas/WebhookEventType"
          },
          "payload": {
            "$ref": "#/components/schemas/WebhookEvent"
          },
          "requestHeaders": {
            "type": "object",
            "nullable": true
          },
          "statusCode": {
            "type": "integer",
            "nullable": true
          },
          "responseHeaders": {
            "type": "object",
            "nullable": true
          },
          "responseBody": {
            "type": "string",
            "nullable": true
          },
          "responseTimeMs": {
            "type": "integer",
            "nullable": true
          },
          "attempt": {
            "type": "integer"
          },
          "success": {
            "type": "boolean"
          },
          "errorMessage": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "WebhookDeliveryListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WebhookDelivery"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          }
        }
      },
      "WebhookEventCatalog": {
        "type": "object",
        "description": "Canonical catalog of every event the API can deliver, grouped by domain. Each entry includes a realistic `samplePayload` matching the discriminated `WebhookEvent` union — so SDKs can render docs and dashboards from this single source of truth.",
        "properties": {
          "domains": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "title": {
                  "type": "string"
                },
                "events": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WebhookEventCatalogEntry"
                  }
                }
              }
            }
          },
          "flat": {
            "type": "array",
            "description": "All events in a flat list (same entries as `domains[].events`, ungrouped).",
            "items": {
              "$ref": "#/components/schemas/WebhookEventCatalogEntry"
            }
          }
        }
      },
      "WebhookEventCatalogEntry": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/WebhookEventType"
          },
          "domain": {
            "type": "string",
            "enum": [
              "reservations",
              "listings",
              "calendar",
              "accounts",
              "reviews",
              "ai",
              "payments",
              "system"
            ]
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "samplePayload": {
            "type": "object",
            "description": "Realistic example of the `data` payload an event of this `type` will deliver. Shape matches the matching variant in the `WebhookEvent` discriminated union."
          }
        }
      },
      "WebhookEventType": {
        "type": "string",
        "description": "Canonical event type identifier. Every webhook delivery declares one of these in its `type` field; SDKs key the discriminated `WebhookEvent` union on this value.",
        "enum": [
          "reservation.created",
          "reservation.updated",
          "reservation.cancelled",
          "reservation.message.received",
          "reservation.alteration.created",
          "reservation.alteration.responded",
          "reservation.request.created",
          "reservation.request.updated",
          "inquiry.created",
          "inquiry.updated",
          "listing.created",
          "listing.updated",
          "listing.deleted",
          "listing.suspended",
          "listing.reactivated",
          "calendar.updated",
          "account.created",
          "account.disconnected",
          "review.created",
          "review.responded",
          "ai.operation.completed",
          "ai.operation.failed",
          "payment.completed",
          "payment.refunded",
          "migration.completed",
          "migration.failed",
          "repull.ping",
          "usage.quota.warning"
        ]
      },
      "ReservationWebhookObject": {
        "type": "object",
        "description": "Lightweight reservation snapshot delivered as `data.object` on every reservation webhook event. Stable across `reservation.created`, `reservation.updated`, and `reservation.cancelled`. Fetch the full reservation via `GET /v1/reservations/{id}` if you need pricing, guest contact info, or audit history — those are deliberately omitted to keep deliveries small.\n\n**Stay terms are the one exception to that rule.** `cancellationPolicy`, `checkInTime` and `checkOutTime` ride on every delivery, because the decisions they drive — is a refund owed, when can housekeeping turn the unit over — are made at the moment the webhook lands, not on a follow-up fetch. They are operational parameters of the booking, not contact or payment data. Guest email, payment method and payment reference stay off the snapshot; see `GET /v1/reservations/{id}`.\n\nAll three are `null` when the source channel did not supply them. They are never defaulted: a fabricated policy is worse than a missing one.",
        "required": [
          "id",
          "uid",
          "channel",
          "listingId",
          "customerId",
          "checkinDate",
          "checkoutDate",
          "status"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "description": "Repull-internal reservation id. Pass to `GET /v1/reservations/{id}`.",
            "example": 212605
          },
          "uid": {
            "type": "string",
            "description": "Channel-side confirmation code (Airbnb HM-prefixed, Booking.com numeric, etc.). Stable across the lifetime of the reservation.",
            "example": "HMX4CMA2X9"
          },
          "channel": {
            "type": "string",
            "description": "Source channel — `airbnb`, `booking`, `vrbo`, `direct`, `owner`, `mid_stay_clean`, etc.",
            "example": "airbnb"
          },
          "listingId": {
            "type": "integer",
            "description": "Repull listing id this reservation is on.",
            "example": 5668
          },
          "customerId": {
            "type": "integer",
            "description": "Workspace (customer) id this reservation belongs to.",
            "example": 1
          },
          "checkinDate": {
            "type": "string",
            "format": "date",
            "description": "Check-in date (local property date, no timezone).",
            "example": "2026-06-10"
          },
          "checkoutDate": {
            "type": "string",
            "format": "date",
            "description": "Check-out date (local property date, no timezone).",
            "example": "2026-06-16"
          },
          "status": {
            "type": "string",
            "description": "Lifecycle status — typically `confirmed`, `cancelled`, `pending`, `inquiry`.",
            "example": "confirmed"
          },
          "cancellationPolicy": {
            "type": "string",
            "nullable": true,
            "description": "Cancellation policy the booking was made under, **verbatim from the source channel** — not normalised, because the codes do not mean the same thing across channels.\n\n- Airbnb, Vrbo, direct and owner bookings carry a named code: `flexible`, `moderate`, `firm_14`, `strict_14_with_grace_period`, `better_strict_with_grace_period`, `super_strict_30`, `super_strict_60`, `tiered_pricing_non_refundable`, `long_term_flexible`, `flexible_new`.\n- **Booking.com carries its numeric policy id as a string** (`\"1\"`, `\"74\"`, `\"121\"`). It is not self-describing — resolve it against the property's policy set on Booking.com.\n\n`null` when the channel supplied none (iCal-imported bookings, some legacy direct rows).",
            "example": "firm_14"
          },
          "checkInTime": {
            "type": "string",
            "nullable": true,
            "description": "Local check-in time, `HH:MM` on a 24-hour clock in the **property's own timezone** — not UTC, and not the subscriber's. Usually inherited from the listing policy, but per-reservation where the channel or an agreed early check-in overrides it. `null` when unknown.",
            "example": "16:00"
          },
          "checkOutTime": {
            "type": "string",
            "nullable": true,
            "description": "Local check-out time, `HH:MM` on a 24-hour clock in the property's own timezone. Pair it with `checkoutDate` to schedule the turnover. `null` when unknown.",
            "example": "10:00"
          }
        }
      },
      "ReservationCreatedPayload": {
        "type": "object",
        "description": "Payload for `reservation.created`. A new reservation arrived from any connected channel or direct booking. Stripe-pattern envelope: `data.object` carries the reservation snapshot.",
        "required": [
          "object"
        ],
        "properties": {
          "object": {
            "$ref": "#/components/schemas/ReservationWebhookObject"
          }
        }
      },
      "ReservationUpdatedPayload": {
        "type": "object",
        "description": "Payload for `reservation.updated`. Dates, status, or any tracked field changed on an existing reservation. `data.object` is the post-change snapshot; `data.previousAttributes` lists ONLY the fields that actually moved, with their prior values. Fields not in `previousAttributes` did not change.",
        "required": [
          "object"
        ],
        "properties": {
          "object": {
            "$ref": "#/components/schemas/ReservationWebhookObject"
          },
          "previousAttributes": {
            "type": "object",
            "description": "Sparse map: every key here is a field on the reservation snapshot whose value changed in this event, mapped to its prior value. Mirrors the keys of `ReservationWebhookObject` (e.g. `checkinDate`, `checkoutDate`, `status`). Receivers can diff `object[k]` vs `previousAttributes[k]` to know what moved.",
            "additionalProperties": true,
            "example": {
              "checkinDate": "2026-06-11",
              "checkoutDate": "2026-06-16"
            }
          }
        }
      },
      "ReservationCancelledPayload": {
        "type": "object",
        "description": "Payload for `reservation.cancelled`. A reservation was cancelled by the guest, host, or platform. `data.object` reflects the post-cancel snapshot (status will be `cancelled`); top-level fields capture cancellation metadata.",
        "required": [
          "object"
        ],
        "properties": {
          "object": {
            "$ref": "#/components/schemas/ReservationWebhookObject"
          },
          "cancelledAt": {
            "type": "string",
            "format": "date-time",
            "description": "When the cancellation was recorded.",
            "example": "2026-05-01T14:00:00.000Z"
          },
          "cancelledBy": {
            "type": "string",
            "enum": [
              "guest",
              "host",
              "platform"
            ],
            "description": "Who initiated the cancellation.",
            "example": "guest"
          },
          "reason": {
            "type": "string",
            "nullable": true,
            "description": "Free-form cancellation reason from the source channel, if available.",
            "example": "guest_requested"
          }
        }
      },
      "ReservationMessageReceivedPayload": {
        "type": "object",
        "description": "Payload for `reservation.message.received`. A new inbound message arrived on a reservation thread.",
        "properties": {
          "reservationId": {
            "type": "integer",
            "example": 215906
          },
          "threadId": {
            "type": "string",
            "example": "thr_01HX5XPQ2K"
          },
          "from": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "example": "guest",
                "description": "Message author (guest, host, system)."
              },
              "name": {
                "type": "string",
                "example": "Alex Morgan"
              }
            }
          },
          "body": {
            "type": "string",
            "example": "Hi! What time can we check in?",
            "description": "Empty when the guest sent only a file."
          },
          "sentAt": {
            "type": "string",
[...]
